{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "es6": true,
    "mocha": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [0, 4],
    "camelcase": 0,
    "max-len": [1, 150, 4],
    "prefer-template": 0,
    "no-confusing-arrow": 0,
    "no-param-reassign": 0,
    "react/jsx-indent": [0, "tab"],
    "react/prefer-stateless-function": 0,
    "react/jsx-indent-props": [0, "tab"],
    "no-unused-vars": 1,
    "no-trailing-spaces": 1
  }
}
