.DS_Store
node_modules/
dist/
cache/
release/
coverage/
output/
npm-debug.log
.idea/
.publish/
.cordova/
plugins/
platforms/
*.keystore
keystore.json
www/app.js
www/app.js.map
www/styles.css
www/styles.css.map
www/beta