.brand-blue {
  color: #2a3052; }

.brand-blue-bg {
  background-color: #2a3052; }

.brand-orange {
  color: #e98024; }

.brand-orange-bg {
  background-color: #e98024; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.app * {
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -ms-user-drag: none;
  user-drag: none; }

.app *:not(input) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.app ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.5em; }

.app ::-webkit-scrollbar-thumb {
  border-radius: 0.3em;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

*,
*::after,
*::before {
  transition: opacity 250ms, color 250ms, background 250ms, transform 250ms; }

@keyframes spinning {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes spinning {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.spinner, .progress {
  -webkit-animation: spinning 1s infinite linear;
  animation: spinning 1s infinite linear; }

@keyframes pulsing {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@-webkit-keyframes pulsing {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.pulser {
  -webkit-animation: pulsing 3s infinite ease;
  animation: pulsing 3s infinite ease; }

.full-screen-overlay {
  opacity: 1;
  transition: opacity 0.2s, height 0; }

.full-screen-overlay.hidden {
  opacity: 0;
  transition: opacity 0.2s, height 0 0.2s;
  height: 0; }

.full-screen-overlay > * {
  transition: transform 0.2s, height 0;
  transform: scale(1); }

.full-screen-overlay.hidden > * {
  transition: transform 0.2s, height 0 0.2s;
  transform: scale(0.9); }

.progress {
  background-image: url("https://binary.com/images/pages/binary-symbol-logo.svg");
  background-size: contain;
  width: 2em;
  height: 2em; }

.workspace-panel.popup-enter {
  transform: translateX(10rem); }

.popup-enter {
  opacity: 0.01; }
  .popup-enter > .modal,
  .popup-enter > .mobile-content,
  .popup-enter > .screen,
  .popup-enter > .article {
    transform: scale(0.9) translateY(4rem); }
  .popup-enter > .drop-down {
    transform: scale(0.75) translateY(-4rem); }

.popup-enter.popup-enter-active {
  opacity: 1; }
  .popup-enter.popup-enter-active > .workspace-panel {
    transform: scale(1); }
  .popup-enter.popup-enter-active > .modal,
  .popup-enter.popup-enter-active > .mobile-content,
  .popup-enter.popup-enter-active > .drop-down,
  .popup-enter.popup-enter-active > .screen,
  .popup-enter.popup-enter-active > .article {
    transform: scale(1) translateY(0); }

.popup-leave {
  opacity: 1; }
  .popup-leave > .workspace-panel {
    transform: scale(1); }
  .popup-leave > .modal,
  .popup-leave > .mobile-content,
  .popup-leave > .screen,
  .popup-leave > .drop-down,
  .popup-leave > .article {
    transform: scale(1) translateY(0); }

.popup-leave.popup-leave-active {
  opacity: 0.01; }
  .popup-leave.popup-leave-active > .workspace-panel {
    transform: scale(0.75); }
  .popup-leave.popup-leave-active > .modal,
  .popup-leave.popup-leave-active > .mobile-content,
  .popup-leave.popup-leave-active > .article {
    transform: scale(0.75) translateY(8rem); }
  .popup-leave.popup-leave-active > .drop-down {
    transform: scale(0.75) translateY(-6rem); }

.zoom-leave {
  opacity: 1;
  transform: scale(1); }

.zoom-leave.zoom-leave-active {
  opacity: 0;
  transform: scale(4) translateY(4rem);
  transition: opacity 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335), transform 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335); }

button,
input[type=submit],
input[type=button],
.btn-primary,
.btn-secondary {
  border-radius: 3px;
  cursor: pointer;
  line-height: 1;
  padding: 0.75em 1em;
  margin: 0; }

button,
input[type=submit],
input[type=button],
.btn-primary {
  border: 0;
  color: white;
  fill: white;
  background: #2e8836; }
  button:focus,
  input[type=submit]:focus,
  input[type=button]:focus,
  .btn-primary:focus {
    outline: none; }
  button:not(:disabled):hover,
  input[type=submit]:not(:disabled):hover,
  input[type=button]:not(:disabled):hover,
  .btn-primary:not(:disabled):hover {
    background: #216227; }

.btn-primary,
.btn-secondary {
  color: white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }

button:disabled {
  opacity: 0.75;
  color: #aaaaaa;
  background: #ddd; }

button::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0; }

.btn-secondary {
  color: #2a3052;
  background: transparent;
  box-shadow: inset 0 0 0 1.5px rgba(42, 48, 82, 0.75); }
  .btn-secondary:not(:disabled):hover {
    box-shadow: inset 0 0 0 1.5px #2a3052; }

.inverse .btn-secondary {
  color: #bebebe !important;
  box-shadow: inset 0 0 0 1.5px rgba(190, 190, 190, 0.75); }
  .inverse .btn-secondary:not(:disabled):hover {
    box-shadow: inset 0 0 0 1.5px #bebebe; }

.btn-flat {
  color: #2a3052;
  padding: 0;
  height: 2.5em;
  width: 2.5em;
  background: rgba(42, 48, 82, 0.1);
  box-shadow: none; }
  .btn-flat:hover {
    background: rgba(42, 48, 82, 0.1) !important; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 1em;
  text-rendering: geometricPrecision; }

body {
  background: #fff;
  color: #3e3e3e;
  font-family: roboto, sans-serif; }

img {
  vertical-align: middle;
  border: 0;
  max-width: 100%; }

acronym,
abbr {
  cursor: help; }

form {
  margin: 0;
  padding: 0; }

.row.focus input,
.row.focus textarea {
  background-color: rgba(255, 236, 179, 0.75); }

.errorrow,
.errorfield,
.error-msg,
.notice-msg,
.update-notice {
  color: white;
  background: #c03;
  border-radius: 3px;
  padding: 0.25em 0.5em; }

.notice-msg {
  color: #3e3e3e;
  background-color: rgba(255, 236, 179, 0.75); }

.update-notice {
  color: white;
  background-color: #e98024; }

.text-only {
  color: #3e3e3e; }

/* global styles */
#popup {
  width: 95%;
  margin: 0 auto; }

.hidden {
  display: none; }

.required_asterisk {
  color: #e98024; }

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

ul.bullet li,
.checkmark {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxOHB4IiBoZWlnaHQ9IjE4cHgiIHZpZXdCb3g9IjAgMCAyNCAyMCI+DQo8cG9seWdvbiBmaWxsPSIjRTk4MDI1IiBwb2ludHM9IjguNjIzLDE5LjU1NyAwLDEwLjkzNiAzLjczNiw3LjE5OCA4LjYyMywxMi4wODIgMjAuMjYyLDAuNDQzIDI0LDQuMTggOC42MjMsMTkuNTU3Ii8+DQo8L3N2Zz4NCg==") no-repeat; }

.checkmark {
  background-position: center; }

ul.bullet li {
  background-position: 0 0.2em;
  padding-left: 1.25em;
  margin-bottom: 0.25em;
  background-size: 2em; }

p.media,
div.media {
  text-align: center;
  margin-bottom: 1em; }

strong {
  font-weight: bold; }

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1; }

.row {
  display: flex;
  margin: 0 -0.5rem;
  flex-wrap: wrap; }

.row > * {
  flex: 1;
  margin: 0 0.5rem; }

.col.q {
  flex: 0.33333333; }

.col.t {
  flex: 0.5; }

#footer {
  display: flex;
  height: 3em;
  background: #2a3052; }
  #footer .btn-secondary,
  #footer .language-picker {
    margin: 0.25em; }
  #footer .btn-secondary:hover {
    background-color: inherit; }

#clock {
  margin: 0.5em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  #clock .tooltip {
    margin-top: -3em; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html,
body {
  min-height: 100vh; }

body,
.msgbar,
.sitemap,
.msgbar-wrapper,
.content-wrapper,
.sitemap-wrapper,
.footer-wrapper {
  display: flex; }

body {
  flex-direction: column; }

header {
  position: fixed;
  z-index: 50;
  width: 100%; }

#page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 3em; }

#content-holder {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; }

#content-holder > div {
  flex: 1;
  padding: 2em 0.5em 4em; }

#content {
  margin: 0 auto;
  max-width: 1000px;
  flex-direction: column; }

#content > h1,
.get-started-content > h1 {
  margin-top: 0; }

.nav-spacer {
  flex: 1; }

#loginid-switch-form {
  display: flex;
  padding: 0.5em 1em;
  margin: 0; }

.login-button {
  margin: 0.5em 0;
  line-height: 0; }

.logo {
  margin-left: -0.5em;
  padding: 0.5em;
  width: 3em; }

.logo-text {
  padding: 0.5em 0; }

.sitemap h4 {
  margin-bottom: 0.4em; }

.sitemap li {
  flex: 1; }

.sitemap li > * {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.25em; }

.footer {
  display: flex;
  flex-direction: column; }

.licenses {
  flex: 1;
  display: flex;
  margin: 1em 0; }

.licenses img {
  height: 3em;
  margin-right: 1em; }

.regulatory {
  flex: 4; }

.social a {
  width: 20%; }

.open-real-money-account {
  display: flex;
  margin: 0 auto;
  max-width: 800px; }

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #2a3052;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column; }

.logo-full img + img {
  margin-left: 10px; }

.barspinner {
  margin: 100px auto;
  width: 60px;
  height: 20px;
  text-align: center;
  font-size: 0.85em; }

.barspinner > div {
  margin: 2px;
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out; }

.barspinner .rect1 {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; }

.barspinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.barspinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.barspinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.barspinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  20% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); } }

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  20% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2); } }

.sidebar-btn {
  padding: 0;
  text-decoration: none; }
  .sidebar-btn > img {
    width: 3em;
    padding: 0.75em; }

.toolbar-btn {
  line-height: 3.5;
  padding: 0 1em; }
  .toolbar-btn > img {
    width: 1.5em;
    height: 100%; }
  .toolbar-btn:hover > .toolbar-hint {
    visibility: visible; }

.account-items-list {
  display: flex;
  flex-direction: column; }

.full-screen-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2px); }

.modal {
  background: white;
  padding: 1em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.modal .close-btn {
  position: relative;
  color: black;
  margin-top: -1em;
  margin-right: -1em;
  float: right; }

header {
  background: #2a3052;
  border-bottom: 4px solid #e98024;
  display: flex;
  justify-content: center; }

.header-content {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 0.5em; }

.nav {
  flex: 1;
  justify-content: center;
  display: flex; }

.nav div {
  padding: 0 1em;
  line-height: 2;
  text-align: center; }

.nav a {
  text-decoration: none;
  font-weight: normal;
  color: white !important; }
  .nav a:hover {
    text-decoration: none; }

.brand-blue {
  color: #2a3052; }

.brand-blue-bg {
  background-color: #2a3052; }

.brand-orange {
  color: #e98024; }

.brand-orange-bg {
  background-color: #e98024; }

.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.highcharts-loading {
  background: transparent !important; }
  .highcharts-loading > span {
    padding: 0.5em 1em;
    border-radius: 3px;
    color: #bebebe !important;
    background: #161a24 !important; }
    .inverse .highcharts-loading > span {
      color: #161a24 !important;
      background: #bebebe !important; }

.inverse .trade-chart {
  color: #bebebe; }

.trade-chart button,
.contract-chart button {
  color: #3e3e3e; }
  .trade-chart button:hover,
  .contract-chart button:hover {
    background: rgba(42, 48, 82, 0.1); }

.inverse .trade-chart button, .inverse
.contract-chart button {
  color: #bebebe; }
  .inverse .trade-chart button:hover, .inverse
  .contract-chart button:hover {
    background: rgba(190, 190, 190, 0.1); }

@keyframes fadeIn {
  99% {
    visibility: hidden; }
  100% {
    visibility: visible; } }

.trade-chart .binary-chart-zoom-controls,
.contract-chart .binary-chart-zoom-controls {
  visibility: hidden;
  animation: 2s fadeIn !important;
  animation-fill-mode: forwards;
  transition: visibility 2s; }

.trade-chart:hover .binary-chart-zoom-controls,
.contract-chart:hover .binary-chart-zoom-controls {
  visibility: visible; }

.trade-chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  min-height: 0; }
  .trade-chart #trade-chart0,
  .trade-chart #trade-chart1,
  .trade-chart #trade-chart2,
  .trade-chart #trade-chart3,
  .trade-chart #trade-chart4 {
    flex: 1;
    max-height: calc(100% - 56px); }

.binary-chart-time-frame-picker {
  min-height: 24px; }

.binary-chart-time-frame-button {
  background: rgba(190, 190, 190, 0.25) !important;
  padding: 0 !important; }

.binary-chart-time-frame-button + .binary-chart-time-frame-button {
  margin-left: 2px; }

.binary-chart-submenu {
  border-radius: 3px;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5); }

.inverse .binary-chart-submenu {
  background: #161a24; }

.binary-chart-submenu button {
  color: #3e3e3e;
  background: transparent;
  border-radius: 0; }

.binary-chart-picker-item,
.binary-chart-button {
  text-align: left;
  padding: 8px;
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center; }
  .binary-chart-picker-item svg + span,
  .binary-chart-button svg + span {
    margin-left: 4px; }

.binary-chart-button:hover,
.binary-chart-picker-item:hover,
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #3e3e3e; }

.inverse .binary-chart-button:hover, .inverse
.binary-chart-picker-item:hover, .inverse
.binary-chart-time-frame-button:hover {
  box-shadow: 0 0 0 1px #bebebe; }

.pressed {
  background: #2a3052 !important; }
  .pressed svg {
    fill: #bebebe; }

.binary-chart-zoom-button {
  background: rgba(42, 48, 82, 0.1) !important; }
  .binary-chart-zoom-button svg {
    fill: #2a3052;
    margin-bottom: 4px; }
  .binary-chart-zoom-button:hover {
    background: rgba(42, 48, 82, 0.2) !important;
    box-shadow: 0 0 0 1px #2a3052; }

.inverse .binary-chart-zoom-button {
  background: rgba(190, 190, 190, 0.1) !important; }
  .inverse .binary-chart-zoom-button svg {
    fill: #bebebe; }
  .inverse .binary-chart-zoom-button:hover {
    background: rgba(190, 190, 190, 0.2) !important;
    box-shadow: 0 0 0 1px #bebebe; }

.binary-chart-toolbar {
  min-height: 30px;
  margin-bottom: 2px; }

.binary-chart-toolbar > * {
  margin-right: 2px; }

.binary-chart-button {
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px;
  min-width: 28px;
  padding: 5px;
  flex: 1;
  align-items: center; }

.binary-chart-button svg,
.binary-chart-picker-item svg {
  width: 16px;
  height: 16px;
  fill: #161a24; }

.inverse .binary-chart-button svg, .inverse
.binary-chart-picker-item svg {
  fill: white; }

.binary-chart-info-bar {
  padding: 0.25em 0.5em;
  border-radius: 3px;
  background: rgba(22, 26, 36, 0.75);
  border: 1px solid #161a24;
  color: #bebebe; }
  .binary-chart-info-bar .value-row {
    font-weight: bold; }
  .binary-chart-info-bar .ohlc-row {
    text-transform: uppercase; }
  .binary-chart-info-bar > div {
    line-height: 1.5;
    display: flex; }
    .binary-chart-info-bar > div > span {
      flex: 1; }
  .inverse .binary-chart-info-bar {
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid white;
    color: #3e3e3e; }

.highcharts-tooltip {
  display: none !important; }

a:not([class]),
a:not([class]):visited {
  color: #2a3052;
  font-weight: bold; }

p,
code,
fieldset {
  margin-bottom: 1em; }

code {
  display: block;
  background: rgba(42, 48, 82, 0.1);
  padding: 1em;
  overflow: auto; }

h1,
h2,
h3,
h4 {
  font-weight: 300;
  line-height: 1.1;
  margin: 2em 0 1em; }

h5,
h6 {
  font-weight: bold; }

h1,
.font-size-xxl {
  font-size: 2em; }

h2,
.font-size-xl {
  font-size: 1.7em; }

h3,
.font-size-l {
  font-size: 1.4em; }

h4,
.font-size-m {
  font-size: 1.2em; }

h5,
.font-size-n {
  font-size: 1em; }

.font-size-s {
  font-size: 0.85em; }

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input,
textarea {
  vertical-align: middle; }

ol li {
  list-style-type: decimal;
  list-style-image: none; }

ul {
  margin: 0 0 1em; }

ol {
  margin: 0 0 1em 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a3052; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #2a3052 !important; }

.react-material-design-icon,
.binary-icon,
.asset-picker-filter-icon path {
  fill: #2a3052; }

.inverse {
  background: #161a24;
  color: #bebebe; }

.inferse ol li::before {
  color: #bebebe; }

.inverse a:not([class]),
.inverse h1,
.inverse h2,
.inverse h3,
.inverse h4,
.inverse h5,
.inverse h6 {
  color: #eee; }

.inverse .react-material-design-icon,
.inverse .binary-icon,
.inverse .asset-picker-filter-icon path {
  fill: #bebebe; }

form {
  margin-bottom: 1em; }

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit; }

input {
  background-color: inherit; }

textarea {
  padding: 0.5em;
  height: 8em;
  width: 25em; }

input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=time],
input[type=date] {
  -webkit-appearance: none;
  -moz-appearance: none; }

select,
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=datepicker],
.picker__input,
.inputlike {
  padding: 0 0.25em;
  height: 2.5em; }

input[type=date],
input[type=time] {
  padding-right: 0; }

input[type=number] {
  padding-right: 0; }

textarea {
  height: 8em;
  width: 25em; }

select,
.picker__input,
.date-picker,
.arrow-expand-collapse,
.down-arrow-1 {
  background-color: inherit;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjEwMHB4IiBoZWlnaHQ9IjEwMHB4IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAwIDEwMCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjY2NjIiBkPSJNNTAuMTExIDcyLjY1OWMtMS4wNjEgMC0yLjA3OC0wLjQyMi0yLjgyOS0xLjE3MkwxNy4yNzUgNDEuNDc0Yy0xLjU2Mi0xLjU2Mi0xLjU2Mi00LjA5NSAwLjAwMS01LjY1NyBjMS41NjMtMS41NjIgNC4wOTYtMS41NjIgNS43IDBsMjcuMTc4IDI3LjE4NWwyNy4xNzgtMjcuMTg1YzEuNTYyLTEuNTYyIDQuMDk1LTEuNTYyIDUuNyAwIGMxLjU2MiAxLjYgMS42IDQuMSAwIDUuNjU3TDUyLjk0IDcxLjQ4N0M1Mi4xODkgNzIuMiA1MS4yIDcyLjcgNTAuMSA3Mi42NTl6Ii8+DQo8L3N2Zz4NCg==); }

select::-ms-expand {
  display: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none; }

select,
.date-picker,
.down-arrow {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 2em;
  padding-right: 1.25em;
  cursor: pointer; }

label {
  line-height: 2; }

.dob {
  display: flex; }
  .dob select {
    border: none !important;
    text-align-last: center;
    flex: 1; }

legend {
  font-weight: bold;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(42, 48, 82, 0.5);
  width: 100%; }

fieldset .error-msg {
  width: 100%;
  text-align: center; }

#dobdd {
  border-radius: 3px 0 0 3px; }

#dobmm {
  border-radius: 0; }

#dobyy {
  border-radius: 0 3px 3px 0; }

input[type=range] {
  -webkit-appearance: none;
  width: 15em;
  height: 0.2em;
  background: #2a3052;
  cursor: pointer; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background: #2a3052;
  box-shadow: 0 0 0 0.5em rgba(42, 48, 82, 0.1);
  cursor: pointer; }

select,
textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=datepicker],
.dob,
.inputlike {
  vertical-align: bottom;
  border-radius: 3px; }
  select:focus,
  textarea:focus,
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  input[type=datepicker]:focus,
  .dob:focus,
  .inputlike:focus {
    outline: none; }

select,
textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=date],
input[type=time],
input[type=datepicker],
.dob,
.inputlike {
  border: 1px solid rgba(42, 48, 82, 0.25); }
  select:hover,
  textarea:hover,
  input[type=text]:hover,
  input[type=email]:hover,
  input[type=password]:hover,
  input[type=search]:hover,
  input[type=tel]:hover,
  input[type=number]:hover,
  input[type=date]:hover,
  input[type=time]:hover,
  input[type=datepicker]:hover,
  .dob:hover,
  .inputlike:hover {
    border-color: rgba(42, 48, 82, 0.5) !important; }
  select:focus,
  textarea:focus,
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus,
  input[type=search]:focus,
  input[type=tel]:focus,
  input[type=number]:focus,
  input[type=date]:focus,
  input[type=time]:focus,
  input[type=datepicker]:focus,
  .dob:focus,
  .inputlike:focus {
    border-color: #2a3052 !important; }

.inverse select,
.inverse textarea,
.inverse input[type=text],
.inverse input[type=email],
.inverse input[type=password],
.inverse input[type=search],
.inverse input[type=tel],
.inverse input[type=number],
.inverse input[type=date],
.inverse input[type=time],
.inverse input[type=datepicker],
.inverse .dob,
.inverse .inputlike {
  color: #bebebe;
  background-color: #293144;
  border: 1px solid rgba(190, 190, 190, 0.25); }
  .inverse select:hover,
  .inverse textarea:hover,
  .inverse input[type=text]:hover,
  .inverse input[type=email]:hover,
  .inverse input[type=password]:hover,
  .inverse input[type=search]:hover,
  .inverse input[type=tel]:hover,
  .inverse input[type=number]:hover,
  .inverse input[type=date]:hover,
  .inverse input[type=time]:hover,
  .inverse input[type=datepicker]:hover,
  .inverse .dob:hover,
  .inverse .inputlike:hover {
    border-color: rgba(190, 190, 190, 0.5) !important; }
  .inverse select:focus,
  .inverse textarea:focus,
  .inverse input[type=text]:focus,
  .inverse input[type=email]:focus,
  .inverse input[type=password]:focus,
  .inverse input[type=search]:focus,
  .inverse input[type=tel]:focus,
  .inverse input[type=number]:focus,
  .inverse input[type=date]:focus,
  .inverse input[type=time]:focus,
  .inverse input[type=datepicker]:focus,
  .inverse .dob:focus,
  .inverse .inputlike:focus {
    border-color: #bebebe !important; }

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem; }

th,
td {
  padding: 0.75em 0.25em;
  vertical-align: middle; }
  th.centered,
  td.centered {
    text-align: center; }
  th.left, th.textual,
  td.left,
  td.textual {
    text-align: left; }
  th.right, th.numeric, th.date,
  td.right,
  td.numeric,
  td.date {
    text-align: right; }
  th.row-id,
  td.row-id {
    font-weight: bold; }

tr:focus {
  outline: none; }

table ul {
  padding-left: 0;
  list-style: none; }

.asset-index-content th {
  min-width: 6rem; }

table.borderless tr {
  border: none !important; }

thead,
tbody {
  border-bottom: 2px solid rgba(42, 48, 82, 0.2); }

th {
  color: #2a3052;
  font-weight: bold;
  background: rgba(42, 48, 82, 0.1); }

tr {
  border-bottom: 1px solid rgba(42, 48, 82, 0.1); }

tr.selected {
  background-color: rgba(42, 48, 82, 0.2); }

tbody > tr:hover {
  background-color: rgba(42, 48, 82, 0.1); }

.inverse thead,
.inverse tbody {
  border-bottom: 2px solid rgba(190, 190, 190, 0.1); }

.inverse th,
.inverse td {
  color: #bebebe; }

.inverse th {
  font-weight: bold;
  background: rgba(42, 48, 82, 0.25); }

.inverse tr {
  border-bottom: 1px solid rgba(190, 190, 190, 0.1); }

.inverse tr.selected {
  background-color: rgba(190, 190, 190, 0.2); }

.inverse tbody > tr:hover {
  background-color: rgba(190, 190, 190, 0.1); }

[role=tablist] {
  display: flex;
  overflow: hidden;
  font-size: 0.85em;
  text-transform: uppercase;
  flex-shrink: 0; }
  [role=tablist].vertical {
    margin-bottom: 0;
    min-width: 3em;
    flex-direction: column;
    align-content: flex-start; }
    [role=tablist].vertical *[role=tab] {
      display: flex;
      flex-direction: column;
      flex: inherit; }
      [role=tablist].vertical *[role=tab][aria-selected=true] {
        box-shadow: inset 0.2em 0 0 0 #e98024; }
  [role=tablist] [role=tab] {
    text-align: center;
    cursor: pointer;
    padding: 1.5em 0.25em;
    width: 100%;
    white-space: nowrap; }
    [role=tablist] [role=tab] {
      box-shadow: inset 0 -0.2em 0 0 rgba(42, 48, 82, 0.1); }
    [role=tablist] [role=tab][aria-selected=true] {
      color: #e98024;
      box-shadow: inset 0 -0.2em 0 0 #e98024; }
    [role=tablist] [role=tab] img {
      width: 2em; }

.inverse [role=tablist],
[role=tablist].inverse {
  color: rgba(255, 255, 255, 0.75);
  background: #2a3052; }

.asset-details {
  width: 100%;
  padding: 0.5em; }
  .asset-details h5 {
    margin: 0.5em 0; }

.asset-index-card {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .asset-index-card .asset-index-data {
    padding: 0.5em; }

.asset-picker-filter {
  min-height: 6em; }
  .asset-picker-filter [role=tablist] {
    border-radius: 3px; }
  .asset-picker-filter [role=tab] {
    padding: 0.5em 0.25em; }
  .asset-picker-filter .tooltip {
    margin-top: 1em; }
  .asset-picker-filter [role=tab]:nth-child(7) .tooltip {
    margin-left: -3em; }
  .asset-picker-filter [role=tab]:nth-child(8) .tooltip {
    margin-left: -5em; }

.asset-picker-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 20em;
  min-width: 15em; }

.asset-list tr {
  cursor: pointer; }

.asset-list tbody tr.selected {
  background-color: rgba(42, 48, 82, 0.25); }

.asset-picker-filter-icon {
  width: 20px;
  height: 20px; }

.asset-search {
  width: 100%; }
  .asset-search > input {
    width: 100%; }

.asset-picker-item td {
  text-align: left;
  padding: 0.25em; }

.asset-picker-item td:first-child {
  width: 2em; }

.asset-picker-item th {
  text-align: left !important;
  padding-left: 3em !important; }

.asset-picker-item svg {
  width: 24px;
  height: 24px; }

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed; }

.screen {
  font-size: 12px;
  flex-direction: column; }

.screen,
.root {
  width: 100%;
  height: 100%;
  display: flex; }

.screen {
  background-color: white; }

.inverse .screen {
  background-color: #161a24; }

.disabled {
  opacity: 0.2; }

.panels {
  flex: 1;
  display: flex;
  max-height: calc(100% - 6em); }

.workspace-panel {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 3px;
  margin: 1px;
  box-shadow: 0 0 0 3px #2a3052; }
  .workspace-panel > div {
    flex: 1;
    width: 100%;
    position: relative;
    top: 0;
    left: 0; }

table {
  margin-bottom: 0; }

.logo-text {
  padding: 0.5em; }

.close-btn {
  cursor: pointer;
  box-shadow: none !important;
  width: 2em; }
  .close-btn:hover {
    box-shadow: none !important; }

header {
  position: inherit;
  width: 100%;
  color: white;
  display: flex;
  padding: 0 1em;
  justify-content: space-between; }

.number-positive {
  color: #2e8836;
  white-space: nowrap; }

.number-negative {
  color: #c03;
  white-space: nowrap; }

.full-screen-overlay {
  z-index: 9999; }

.market-submarket-picker {
  width: 100%; }

.range-selector-items {
  display: flex;
  width: 100%;
  margin: 0.25em 0.25em 0;
  justify-content: space-between; }

input[type=range] {
  width: 100%; }

fieldset {
  margin-bottom: 0.5em; }

.back-btn {
  fill: white;
  width: 3em !important;
  height: 3em !important;
  padding: 0.75em; }

.tick-sparklines {
  margin-bottom: 1em;
  text-align: center; }

.radio-selector {
  display: flex;
  margin-bottom: 0.5em;
  border-radius: 3px;
  background-color: rgba(42, 48, 82, 0.1); }
  .radio-selector .radio-button {
    padding: 0.5em 0;
    flex: 1;
    background-color: rgba(42, 48, 82, 0.25); }
    .radio-selector .radio-button:hover {
      background-color: rgba(42, 48, 82, 0.8); }
  .radio-selector .selected-radio {
    background-color: rgba(42, 48, 82, 0.8); }

.radio-item {
  flex: 1; }
  .radio-item label {
    cursor: pointer;
    line-height: 2;
    display: block;
    text-align: center; }
  .radio-item img {
    margin-right: 0.5em;
    width: 1.5em;
    background-color: white;
    box-shadow: 0 0 0 1px white; }
  .radio-item input {
    display: none; }
  .radio-item input[type=radio]:checked + label {
    background: #2a3052;
    border-radius: 3px;
    color: white; }

.web-page {
  width: 100%;
  height: 100%; }

.spacer {
  flex: 1; }

.toolbar-hint {
  position: absolute;
  padding: 0.75em;
  margin-top: -0.75em;
  margin-left: 1em;
  width: 10em;
  border-radius: 3px;
  background: #2a3052;
  visibility: hidden; }

.button-list {
  display: inline; }

.name-val-pair,
legend {
  line-height: 2; }

.name-val-pair {
  display: flex; }
  .name-val-pair * {
    flex: 0 1 180px; }
  .name-val-pair > .name {
    font-weight: 700; }

select {
  background-color: white; }

.resizer-vertical {
  background: #2a3052;
  cursor: ew-resize;
  width: 6px;
  display: flex;
  align-items: center; }
  .resizer-vertical .resizer-handle {
    width: 4px;
    margin: 3px 0;
    height: 2em;
    border-left: 1px dotted rgba(255, 255, 255, 0.5);
    border-right: 1px dotted rgba(255, 255, 255, 0.5); }

.resizer-horizontal {
  background: #2a3052;
  cursor: ns-resize;
  height: 0.25em; }

#theme-wrapper {
  width: 100%;
  height: 100%; }

.theme-picker {
  width: 100%; }

.form-label {
  font-weight: 500;
  margin-bottom: 5px; }

div[role=tabpanel] {
  background: #c03; }

.centerer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0.5em; }

.open-notice,
.closed-notice {
  padding: 0.2em 0.4em;
  opacity: 0.75;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 3px; }

.open-notice {
  background: #2e8836; }

.closed-notice {
  background: #c03; }

.modal {
  max-height: 100%;
  min-width: 320px;
  overflow: auto;
  width: 80%; }

.inverse .modal {
  background: #161a24; }

.info-icon {
  background-color: rgba(42, 48, 82, 0.5);
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  border-radius: 10px; }

.tooltip {
  color: #bebebe;
  background: #161a24;
  border: 1px solid rgba(42, 48, 82, 0.25);
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  position: absolute;
  display: none;
  z-index: 99; }
  .inverse .tooltip {
    color: #3e3e3e;
    background: white; }

div[role=tab] .close-btn {
  background: #2a3052;
  fill: #3e3e3e; }

nav.sidebar {
  display: flex;
  flex-direction: column;
  width: 15em;
  background: #2a3052;
  color: white;
  margin: -3.5em -0.5em -0.5em; }

.sidebar span {
  color: white; }

#right-tab-list {
  overflow: auto;
  font-size: 1em; }
  #right-tab-list > div[role=tab][aria-selected=true] {
    box-shadow: inset -2px 0 0 0 #e98024; }

*:hover + .tooltip {
  display: block; }

.account-info {
  background: #e98024;
  padding: 0.5em;
  line-height: 1.5;
  word-wrap: break-word; }

.close-btn svg {
  vertical-align: middle; }

.full-logo {
  text-align: center;
  margin-bottom: 1em; }

.empty-slate {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
  background: rgba(42, 48, 82, 0.25); }
  .empty-slate img {
    width: 3em;
    height: 3em;
    margin-bottom: 0.5em; }
  .empty-slate p {
    text-align: center; }

.about-card {
  max-width: 20em;
  margin: 0 auto; }
  .about-card .version-info {
    padding: 1em; }

.digit-stats-card {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0.5rem; }

.digit-stats-chart {
  display: flex;
  min-height: 100px;
  width: 100%;
  height: 100%;
  flex: 1; }
  .digit-stats-chart.vertical {
    flex-direction: column; }

.digit-stats-col {
  flex: 1;
  display: flex; }

.digit-stats-bar {
  width: 100%;
  background-color: rgba(42, 48, 82, 0.5);
  margin: 1px;
  border-radius: 3px;
  transform-origin: 0 50%;
  transition: 0.5s ease-in; }
  .digit-stats-bar.max {
    background-color: #2e8836; }
  .digit-stats-bar.min {
    background-color: #c03; }

.digit-stats-percentage {
  text-align: center;
  line-height: 2.5; }

.digit-stats-digit {
  font-size: 1.5em;
  margin-right: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.digit-stats-filter select {
  width: 100%;
  margin-bottom: 0.5rem; }

.drop-down-wrapper {
  position: absolute;
  z-index: 10000; }

.drop-down {
  display: flex;
  max-height: 80vh;
  max-width: 80vw;
  overflow: auto;
  position: absolute;
  z-index: 10001;
  background: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px; }
  .drop-down + .full-screen-overlay {
    background: transparent;
    -webkit-backdrop-filter: none; }

.inverse .drop-down {
  background-color: #161a24 !important; }

.header {
  display: flex;
  background: #2a3052;
  color: white;
  align-items: center;
  justify-content: space-between; }
  .header #hamburger-btn {
    line-height: 3;
    display: block; }
    .header #hamburger-btn > .sidebar {
      top: -300px !important;
      left: inherit;
      right: 0; }
  .header #hamburger-opener:checked + #hamburger-btn > .sidebar {
    top: 3.5em !important;
    left: inherit; }
  .header .balance {
    font-size: 1.4em; }

#hamburger-opener {
  display: none; }
  #hamburger-opener:checked + #hamburger-btn > .sidebar {
    left: 0.5em;
    transition: 0.3s; }

#hamburger-btn {
  cursor: pointer; }
  #hamburger-btn > .sidebar {
    position: absolute;
    left: -300px;
    z-index: 995; }

.mobile-toolbar .sidebar {
  height: 100%; }

#hamburger-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
  z-index: 985; }

#hamburger-closer {
  display: none; }
  #hamburger-closer:checked + #hamburger-overlay {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s; }

#logo {
  margin: 0.25em; }
  #logo img {
    height: 2.5em; }
    #logo img:nth-child(2) {
      margin-left: 0.25em;
      height: 1.75em; }

.layout-switch-btn {
  display: flex;
  align-items: center;
  padding: 0 4px 0 0; }
  .layout-switch-btn span {
    line-height: 1;
    padding: 0.25em; }

.layout-switch-btn + span + .layout-switch-btn {
  margin-left: 0.5rem; }

.examine-asset-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .examine-asset-card .examine-asset-picker-container {
    margin-bottom: -0.5em; }
  .examine-asset-card .examine-asset-picker {
    margin: 0.5em;
    line-height: 1.5; }
    .examine-asset-card .examine-asset-picker span,
    .examine-asset-card .examine-asset-picker h4 {
      margin: 0.25em;
      line-height: 1.5; }
    .examine-asset-card .examine-asset-picker span {
      font-size: 1em; }
    .examine-asset-card .examine-asset-picker h4 {
      font-size: 1.2em;
      flex: 1; }
  .examine-asset-card .daily-prices-card {
    flex: 1;
    padding: 0.5em; }

.inverse .examine-asset-picker-container {
  background: #2a3052; }

.upgrade-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  padding: 0.5rem;
  width: 100%;
  max-width: 420px; }
  .upgrade-card legend {
    margin-top: 0.5rem; }
  .upgrade-card .errorfield {
    margin-bottom: 0.5rem; }
  .upgrade-card button,
  .upgrade-card input[type=text],
  .upgrade-card input[type=tel] {
    width: 100%; }
  .upgrade-card .names-row input {
    min-width: 8rem; }
  .upgrade-card .names-row select {
    flex: inherit; }
  .upgrade-card .input-row {
    display: flex;
    flex-direction: row;
    margin: 0; }
    .upgrade-card .input-row > * {
      flex: 1;
      margin: 0 0.25em 0.5em 0; }
    .upgrade-card .input-row > :last-child {
      margin-right: 0; }

.startup-content {
  display: flex;
  flex: 1;
  max-width: 300px;
  margin: auto;
  flex-direction: column;
  align-content: space-between;
  padding: 0.5em; }
  .startup-content .create-account-button {
    margin: 2em 0; }
  .startup-content .have-account {
    text-align: center;
    margin-bottom: 0.5em; }
  .startup-content,
  .startup-content form,
  .startup-content form > *,
  .startup-content input,
  .startup-content select {
    width: 100%; }

#footer {
  display: flex;
  height: 3em;
  background: #2a3052; }
  #footer .btn-secondary,
  #footer .language-picker {
    margin: 0.25em; }
  #footer .btn-secondary:hover {
    background-color: inherit; }

#clock {
  margin: 0.5em;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  #clock .tooltip {
    margin-top: -3em; }

input::-webkit-calendar-picker-indicator {
  display: none; }

input::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

input[type=time]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

.inverse .drop-down,
.inverse .trade-panel {
  background: #161a24; }

.inverse .picker-label,
.inverse select,
.inverse .start-time-selector > label,
.inverse .binary-chart-button,
.inverse .btn-flat {
  background-color: #293144 !important; }

.inverse .btn-flat,
.inverse .article-preview {
  color: #bebebe; }

.inverse .asset-list tbody tr.selected {
  background-color: rgba(42, 48, 82, 0.25); }

.inverse .btn-flat:hover,
.inverse .start-time-selector label:hover,
.inverse .picker-label:hover,
.inverse .duration-input select:hover {
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5); }

.inverse input {
  border: none !important; }

* {
  -webkit-tap-highlight-color: transparent; }

.mobile-page {
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column; }

.mobile-drop-down {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 100; }

.mobile-content {
  min-width: 320px;
  flex: 1;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  width: 100%; }
  .mobile-content .trade-panel {
    margin: 0;
    flex-direction: column; }
  .mobile-content .trade-chart-container {
    margin: -0.25em 0; }
  .mobile-content .contract-chart {
    flex: 1; }
  .mobile-content .modal {
    max-width: 360px; }
  .mobile-content .contract-detail {
    width: 100%; }
  .mobile-content .asset-picker-container {
    width: auto; }
  .mobile-content .trade-type-picker {
    width: auto; }
  .mobile-content .info-icon {
    display: none; }
  .mobile-content .contract-details-card {
    display: flex;
    flex-direction: column;
    margin: 0 0.5em 0.5em;
    flex: 1; }
    .mobile-content .contract-details-card h5 {
      margin: 0.5em 0; }
    .mobile-content .contract-details-card *[role=tablist] {
      margin-bottom: 0.5em; }
  .mobile-content .contract-details-tabs {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .mobile-content .trade-params {
    display: flex;
    margin-top: 0.5em;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 16em; }
    .mobile-content .trade-params .duration-input .numeric-input .btn-flat {
      flex: 1 2 10%; }
    .mobile-content .trade-params .duration-input .numeric-input input {
      flex: 2 1; }
  .mobile-content .sell-at-market-btn,
  .mobile-content .buy-again-btn {
    width: 100%;
    margin-top: 0.5em; }
  .mobile-content .forward-starting-picker {
    display: flex;
    flex-direction: row; }
    .mobile-content .forward-starting-picker > div {
      display: flex;
      flex-direction: column; }
  .mobile-content .payout-picker {
    display: flex;
    flex-direction: row; }
  .mobile-content .payout-display {
    flex-direction: row; }
    .mobile-content .payout-display .param-field {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .mobile-content .param-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em; }
    .mobile-content .param-row > label {
      flex: 1;
      line-height: 2; }
    .mobile-content .param-row > .param-field {
      flex: 2; }
  .mobile-content .contract-receipt {
    overflow: auto;
    margin: 0; }
  .mobile-content tbody tr {
    cursor: pointer; }

.inverse .mobile-page {
  background: #161a24; }

.mobile-nav-btn {
  text-align: center;
  flex: 1; }
  .mobile-nav-btn img {
    padding: 1em 0.125em;
    height: 3.5em; }
  .mobile-nav-btn.active {
    box-shadow: inset 0 -0.2em 0 0 #e98024; }

.mobile-toolbar {
  color: white;
  background: #2a3052;
  height: 3.5em;
  display: flex;
  width: 100%; }

.mobile-back-btn {
  cursor: pointer;
  text-align: left !important;
  font-weight: normal;
  color: white !important;
  text-decoration: none;
  flex: 1;
  display: flex;
  align-items: center; }

.mobile-form {
  display: flex;
  flex-direction: column;
  flex: 1; }

.ios-padder {
  width: 100%; }
  .ios-padder a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    border-radius: 10px;
    margin: 5px; }
    .ios-padder a svg {
      margin: 0 6px 3px 0; }
  .ios-padder span {
    color: white;
    font-size: 1.4em;
    font-weight: normal; }

@media screen and (min-aspect-ratio: 13 / 9) {
  .mobile-content .trade-panel {
    flex-direction: row !important; }
  .mobile-content .trade-params {
    margin-left: 0.5em; } }

@media screen and (max-aspect-ratio: 13 / 9) and (min-height: 660px) {
  .mobile-page {
    font-size: 15px; } }

@media screen and (max-aspect-ratio: 13 / 9) and (max-height: 560px) {
  .mobile-page {
    font-size: 13px; } }

@media screen and (max-aspect-ratio: 13 / 9) and (max-height: 520px) {
  .mobile-page {
    font-size: 12px; } }

@media screen and (max-aspect-ratio: 13 / 9) and (max-height: 480px) {
  .mobile-page {
    font-size: 11px; } }

.article {
  font-size: 1.2em; }

.news-list-card {
  display: flex;
  flex-direction: column; }

.article-picker {
  width: 100%;
  min-height: 2.5em; }

.article {
  padding: 0.5em; }

.article h1,
.article-preview h2 {
  font-size: 1.4em;
  margin: 0 0 0.25em; }

.article-preview {
  display: inline-block;
  text-decoration: none;
  color: #3e3e3e;
  cursor: pointer;
  padding: 0.5em; }
  .article-preview p {
    margin: 0;
    line-height: 1.2; }
  .article-preview:hover {
    background: rgba(42, 48, 82, 0.1); }

.portfolio-row {
  cursor: pointer; }

.portfolio-card {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5em; }

.contract-receipt h5 {
  margin: 0.5em 0; }

.contract-detail {
  display: flex;
  margin: 0.125em;
  border-radius: 3px; }
  .contract-detail > span {
    flex: 1; }
  .contract-detail > *:first-child {
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: bold; }

.contract-details-list {
  display: flex;
  flex-wrap: wrap; }

.profit-loss-label {
  font-size: 1.4em;
  text-align: center;
  margin: 0.5em 0; }

.modal .contract-details-card h5 {
  margin-bottom: 0.5em; }

.modal .contract-detail {
  width: 100%;
  padding: 0.125em; }

.modal .contract-details-list {
  max-width: 20em; }

.modal .contract-details {
  display: flex;
  height: 60vh; }

.modal .contract-receipt {
  max-width: 25em;
  padding-left: 0.5em; }

.modal .contract-chart {
  flex: 1;
  min-width: 25em; }

.sell-at-market-btn {
  font-size: 1.25em;
  width: 100%; }

.settings-card {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column; }
  .settings-card > div:nth-child(2) {
    flex: 1;
    overflow: auto; }
  .settings-card .notice-msg {
    margin-top: 0.5rem; }
  .settings-card button {
    width: 100%; }

.settings-ui,
.settings-personal-page,
.settings-change-password,
.settings-cashier-lock,
.settings-self-exclusion,
.settings-limits {
  padding: 0.5em; }

.settings-address label {
  display: inline-block;
  width: 50%; }

.settings-address input,
.settings-address select {
  width: 50%; }

.settings-self-exclusion label {
  display: inline-block;
  width: 60%; }

.settings-self-exclusion input {
  width: 40%; }

.settings-change-password input,
.settings-cashier-lock input {
  width: 100%; }

.version-info {
  background: rgba(42, 48, 82, 0.1);
  text-align: center; }

.statement-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex: 1; }
  .statement-card [role=tablist] {
    margin-bottom: 0; }
  .statement-card .statement-list {
    padding: 0.5em; }
  .statement-card .statement-row {
    cursor: pointer; }

.trade-params.greyout {
  opacity: 0.6; }

.vertical .errorfield {
  margin-bottom: 0.5em; }

.vertical > [role=tab] {
  padding: 0.1em;
  margin-bottom: 1em; }
  .vertical > [role=tab] > span {
    line-height: 1;
    margin-top: 0.5em; }
  .vertical > [role=tab] > img {
    margin: 0 auto; }

.vertical .sell-at-market-btn,
.vertical .buy-again-btn {
  margin-top: 0.5em;
  width: 100%; }

.vertical .trade-params {
  flex-direction: row-reverse; }

.vertical .trade-params,
.vertical .contract-receipt-container {
  overflow: auto;
  width: 15em;
  margin-right: 0.25em;
  padding-right: 0.25em; }

.vertical .trade-panel {
  flex-direction: row-reverse;
  align-items: stretch;
  min-width: 0;
  min-height: 0; }

.vertical .contract-detail {
  width: 100%;
  padding: 0.125em 0; }

.vertical .contract-receipt {
  overflow: auto;
  max-width: 16em;
  margin-right: 0.25em; }

.vertical .digit-stats-col {
  flex-direction: row-reverse; }

.vertical .payout-display .param-field {
  display: flex;
  flex-direction: column; }

.horizontal .trade-panel {
  flex-direction: column;
  min-width: 0;
  min-height: 0; }

.horizontal .errorfield {
  margin: 0.5em 0; }

.horizontal .trade-params {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em; }
  .horizontal .trade-params > * {
    flex: 1; }
  .horizontal .trade-params .barrier-picker {
    display: flex;
    flex-direction: row; }
    .horizontal .trade-params .barrier-picker .param-row + .param-row {
      margin-left: 0.25em; }

.horizontal .contract-detail {
  flex-direction: column;
  width: 8em;
  background-color: rgba(42, 48, 82, 0.1);
  text-align: center; }

.horizontal .digit-stats-col {
  flex-direction: column; }

.trade-action {
  text-transform: capitalize; }

.buy-btn,
.buy-again-btn {
  font-size: 1.25em;
  width: 100%; }

.numeric-input {
  display: flex; }
  .numeric-input .step-down {
    border-radius: 3px 0 0 3px; }
  .numeric-input .step-up {
    border-radius: 0 3px 3px 0; }
  .numeric-input input {
    border-radius: 0;
    text-align: center;
    width: calc(100% - 5em); }

.btn-flat:hover,
.start-time-selector label:hover,
.picker-label:hover,
.binary-chart-button:hover,
.duration-input select:hover {
  box-shadow: inset 0 0 0 1px rgba(42, 48, 82, 0.5); }

.trade-type-picker {
  width: 22em;
  overflow: hidden; }

.type-pairs-list {
  display: flex;
  flex-direction: column; }

.type-pair {
  display: flex;
  cursor: pointer; }
  .type-pair * {
    flex: 1; }
  .type-pair div[role=tab] {
    margin: 0.5em; }
  .type-pair div[role=tab][aria-selected=true] {
    color: #e98024;
    box-shadow: inset 0 -0.2em 0 0 #e98024; }
  .type-pair img {
    height: 1.5em;
    margin: 0.5em;
    background: white;
    box-shadow: 0 0 0 1px white; }

.trade-panel {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 2px;
  padding: 0.25em;
  background: white;
  border-radius: 3px; }

.trade-chart-container {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: stretch; }

.payout-value {
  font-weight: bold;
  font-size: 1.6em; }

.duration-input {
  display: flex;
  flex-direction: row; }
  .duration-input select {
    max-width: 50%;
    background-color: rgba(42, 48, 82, 0.1);
    margin-left: 0.25em;
    border: none; }
  .duration-input > * {
    flex: 1; }

.start-time-selector + .forward-starting-input {
  margin-top: 0.25em; }

.forward-starting-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .forward-starting-input > input {
    max-width: 50%;
    flex: 1; }
  .forward-starting-input > input + input {
    margin-left: 0.25em; }

.barrier-input {
  display: flex;
  flex-direction: column; }

.param-row {
  margin-bottom: 0.5em; }

.start-time-selector {
  display: flex; }
  .start-time-selector > label {
    flex: 1;
    cursor: pointer;
    line-height: 2.5;
    background: rgba(42, 48, 82, 0.1);
    border-radius: 3px; }
  .start-time-selector > label + label {
    margin-left: 0.25em; }
  .start-time-selector > label > input {
    margin: 0 0.25em; }

.duration-text {
  line-height: 2;
  margin-left: 0.5em; }

.picker-label {
  cursor: pointer;
  line-height: 2.5;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: rgba(42, 48, 82, 0.1);
  border-radius: 3px; }
  .picker-label > *:first-child {
    margin-left: 0.5em; }
  .picker-label .picker-value {
    flex: 1; }
  .picker-label img + .picker-value {
    text-align: center; }
  .picker-label img {
    height: 2em;
    padding: 1px 0; }
  .picker-label img,
  .picker-label svg {
    margin: 0.25em 0; }

.inverse .picker-label img {
  background: white; }

.payout-picker button {
  width: 2.5em;
  height: 2.5em; }

.forward-starting-picker > * {
  flex: 1; }

.param-row > label {
  text-transform: uppercase;
  line-height: 1.5; }

.trade-header {
  display: flex;
  cursor: pointer;
  margin-bottom: 0.5em;
  color: #2a3052;
  background: rgba(42, 48, 82, 0.1); }
  .trade-header > span {
    flex: 1;
    line-height: 2;
    margin-left: 0.5em; }

.trading-times-card {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .trading-times-card .trading-times-filter {
    display: flex;
    min-height: 2.5em; }
    .trading-times-card .trading-times-filter > * {
      width: 50%; }
  .trading-times-card .trading-times-date-picker > input {
    width: 100%; }
  .trading-times-card .trading-times-data {
    padding: 0.5em; }

.watchlist-table tr:not(:hover) .close-btn {
  visibility: hidden; }

.watchlist-remove-cell {
  padding: 0 0.5rem 0 0; }

.watchlist-card {
  width: 100%;
  flex: 1;
  padding: 0.25rem; }

.watchlist-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em; }

.watchlist-item {
  border-radius: 3px; }
  .watchlist-item svg {
    max-height: 100%; }
  .watchlist-item:hover {
    background: rgba(42, 48, 82, 0.05); }

.watchlist-item + .watchlist-item {
  margin-top: 0.5rem; }

.video-list {
  margin: 0;
  width: 100%;
  padding: 0.5em; }

.video-thumbnail {
  cursor: pointer;
  display: block;
  width: 100%;
  text-decoration: none; }
  .video-thumbnail .video-img {
    width: 100%;
    height: 14em;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .video-thumbnail h5 {
    text-decoration: none;
    text-align: center;
    margin-top: 0.5em; }
  .video-thumbnail:hover {
    box-shadow: 0 0 0 0.25em rgba(42, 48, 82, 0.25); }

.video-thumbnail + .video-thumbnail {
  margin-top: 1em; }

.buy-btn:active,
.btn-flat:active,
.picker-label:active,
.close-btn:active,
select:active,
[role=tab]:active,
.ios-padder:active,
.article-preview:active,
.video-thumbnail:active,
.binary-chart-button:active,
.binary-chart-time-frame-button:active,
.binary-chart-zoom-button:active,
.start-time-selector label:active {
  color: white !important;
  background-color: rgba(42, 48, 82, 0.75) !important; }
  .buy-btn:active svg,
  .btn-flat:active svg,
  .picker-label:active svg,
  .close-btn:active svg,
  select:active svg,
  [role=tab]:active svg,
  .ios-padder:active svg,
  .article-preview:active svg,
  .video-thumbnail:active svg,
  .binary-chart-button:active svg,
  .binary-chart-time-frame-button:active svg,
  .binary-chart-zoom-button:active svg,
  .start-time-selector label:active svg {
    fill: #2a3052 !important; }

.mobile-back-btn:active,
.mobile-nav-btn:active,
.sidebar-btn:active {
  color: #2a3052 !important;
  background-color: rgba(255, 255, 255, 0.75) !important; }

.inverse .btn-flat:active,
.inverse .picker-label:active,
.inverse .close-btn:active,
.inverse .article-preview:active,
.inverse .video-thumbnail:active,
.inverse select:active,
.inverse [role=tab]:active,
.inverse .binary-chart-button:active,
.inverse .binary-chart-zoom-button:active,
.inverse .binary-chart-time-frame-button:active,
.inverse .start-time-selector label:active {
  color: #2a3052 !important;
  background-color: rgba(255, 255, 255, 0.75) !important; }
  .inverse .btn-flat:active svg,
  .inverse .picker-label:active svg,
  .inverse .close-btn:active svg,
  .inverse .article-preview:active svg,
  .inverse .video-thumbnail:active svg,
  .inverse select:active svg,
  .inverse [role=tab]:active svg,
  .inverse .binary-chart-button:active svg,
  .inverse .binary-chart-zoom-button:active svg,
  .inverse .binary-chart-time-frame-button:active svg,
  .inverse .start-time-selector label:active svg {
    fill: #2a3052 !important; }
