body {
    height: 100%;
}

#screen {
    font-size: 12px;
}

/* Web Layout */

#root, #screen {
    width: 100%;
    height: 100%;
    display: flex;
}

#panels {
    flex: 1;
    display: flex;
    max-height: calc(100% - 3rem);
}

#mid-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#screen {
    flex-direction: column;
}

#header {
    display: flex;
    background: #2a3052;
    color: white;
    justify-content: space-between;
}

.left-panel, .right-panel, .bottom-panel {
    overflow: auto;
}

.right-panel {
    display: flex;
    flex-direction: row-reverse;
}

.right-panel div[role=tabs] {
    flex-direction: column;
    align-content: flex-start;
}

.right-panel .radio-item {
    flex: none;
}

.right-panel .radio-item img {
    background: inherit;
    box-shadow: none;
    margin: 0;
    width: 3rem;
}

.workspace-panel {
    padding: .5rem;
    overflow: auto;
    display: flex;
}

.workspace-panel > div {
    width: 100%;
}

#workarea {
    flex: 1;
    overflow: auto;
    display: flex;
}

table {
    margin-bottom: 0;
}

.market-hierarchy {
    font-size: .8em;
}

.wide-form {
    max-width: 420px;
}

.logo-text {
    padding: 1rem;
}

.panel {
    border: 2px solid #2a3052;
    position: absolute;
    background: white;
}

.panel-title {
    color: white;
    background: #2a3052;
    height: 2em;
    display: flex;
    justify-content: space-between;
}

.panel-title label {
    margin-left: .5rem;
}

.panel-content {
    height: calc(100% - 2em);
    overflow: auto;
}
.panel-btn, .panel-btn:hover {
    background: transparent;
    border: none;
    padding: .5rem;
}

.panel-btn:hover, .toolbar-btn:hover, .sidebar-btn:hover {
    background-color: rgba(255, 255, 255, .1);
}

div[role=tab] .close-btn, .panel-active .close-btn {
    fill: white;
}

.close-btn, .close-btn:hover {
    box-shadow: none !important;
}

.mobile-page {
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.mobile-content {
    padding: .5rem;
    min-width: 350px;
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    overflow: auto;
    width: 100%;
}

.mobile-content tbody tr {
    cursor: pointer;
}

.tick-trade-mobile button:not(.close-btn), .tick-trade-mobile input[type=range], .tick-trade-mobile a.button, .tick-trade-mobile .range-selector-items {
    width: 100%;
}

header {
    position: inherit;
    width: 100%;
    color: white;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}

nav.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: #2a3052;
    color: white;
    margin: -3.5rem -.5rem -.5rem -.5rem;
}

.sidebar span {
    color: white;
}

.sidebar > * {
    padding: 0 1rem;
    margin: 0;
}

.number-positive {
    color: green;
    white-space: nowrap;
}

.number-negative {
    color: red;
    white-space: nowrap;
}

.trade-action {
    text-transform: capitalize;
}

.mobile-nav-btn {
    text-align: center;
    flex: 1;
}

.mobile-nav-btn img {
    padding: 1rem .125rem;
    height: 3.5rem;
}

.mobile-nav-btn.active {
    box-shadow: inset 0 -3px 0 0 #e98024;
}

.full-screen-overlay {
    z-index: 9999;
}

.range-selector-items {
    display: flex;
    width: 100%;
    margin: .25rem .25rem 0 .25rem;
    justify-content: space-between;
}

.market-submarket-picker, .asset-search, .asset-search > input, .trading-times-date-picker > input, input[type=range] {
    width: 100%;
}

.asset-search {
    margin-bottom: 0;
}

.mobile-toolbar {
    color: white;
    background: #2a3052;
    height: 3.5rem;
    display: flex;
    width: 100%;
}

.mobile-back-btn {
    text-align: left !important;
    font-weight: normal;
    color: white !important;
    text-decoration: none;
    text-align: center;
    flex: 1;
}

.mobile-back-btn span {
    height: 3.5rem;
    vertical-align: middle;
}

.sidebar-btn {
    height: 4rem;
    padding: 0;
}

.sidebar-btn > img {
    width: 3.5rem;
    padding: 1rem;
}

.toolbar-btn {
    line-height: 3.5;
    padding: 0 1rem;
}

.toolbar-btn > img {
    width: 1.5rem;
    height: 100%;
}

.account-info {
    background: #e98024;
    padding: .5rem;
}

.buy-btn {
    font-size: 1.25rem;
    padding: 1rem;
}

fieldset {
    margin-bottom: .5rem;
}

.back-btn {
    width: 3.5rem;
    padding: .75rem;
}

.tick-sparklines {
    margin-bottom: 1rem;
}

.radio-selector {
    display: flex;
    margin-bottom: .5rem;
    border-radius: 2px;
    background-color: rgba(42, 48, 82, .1);
}

.radio-item {
    flex: 1;
}

.radio-item label {
    cursor: pointer;
    line-height: 2;
    display: block;
    text-align: center;
}

.radio-item img {
    margin-right: .5rem;
    width: 1.5rem;
    background-color: white;
    box-shadow: 0 0 0 1px white;
}

.radio-item input {
    display: none;
}

.radio-item input[type=radio]:checked+label {
    background: #2a3052;
    border-radius: 2px;
    color: white;
}

.mobile-content .modal {
    max-width: 360px;
}

.web-page {
    width: 100%;
    height: 100%;
}

#hamburger-opener {
    display: none;
}

#hamburger-btn {
    cursor: pointer;
}

#hamburger-btn > .sidebar {
    position: absolute;
    left: -300px;
    z-index: 995;
}

#hamburger-opener:checked + #hamburger-btn > .sidebar {
    left: .5rem;
    transition: .3s;
}

#hamburger-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
    visibility: visible;
    transition: .3s;
    z-index: 985;
}

#hamburger-closer {
    display: none;
}

#hamburger-closer:checked + #hamburger-overlay {
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}

#web-sidebar {
    position: fixed;
    z-index: 9999;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 4rem;
    background: #2a3052;
}

.toolbar-hint {
    position: absolute;
    padding: .75rem;
    margin-top: -.75rem;
    margin-left: 1rem;
    width: 10rem;
    border-radius: 2px;
    background: #2a3052;
    visibility: hidden;
}

.toolbar-btn:hover > .toolbar-hint {
    visibility: visible;
}

#web-sidebar .toolbar-btn {
    height: 4rem;
}

div[role=tabs] {
    display: flex;
    background: rgba(42, 48, 82, .75);
    color: white;
}

.tab-content {
    padding: .5rem;
}
.tab-content {
    flex: 1;
}

.market-submarket-picker {
    margin-bottom: .5rem;
}

.button-list {
    display: inline;
}

.name-val-pairs {
    display: flex;
    flex-direction: column;
}

.name-val-pair {
    display: flex;
}

.name-val-pair > .name {
    font-weight: 700;
}

.name-val-pair * {
    flex: 0 1 180px;
}

select {
    background-color: white;
}

.asset-picker-container {
    display: flex;
    flex-direction: column;
}

.asset-picker-filter {
    min-height: 5rem;
}

.asset-list {
    overflow: auto;
}

tr[tabindex] {
    cursor: pointer;
}

.asset-list tbody tr.selected {
    background-color: rgba(42, 48, 82, 0.2);
}

.inverse .asset-list tbody tr.selected {
    background-color: rgba(221, 221, 221, 0.2);
}

.tick-sparklines {
    text-align: center;
}

.resizer-vertical, .resizer-horizontal {
    background: rgba(42, 48, 82, .1);
}

.resizer-vertical {
    cursor: ew-resize;
    width: .25rem;
}

.resizer-horizontal {
    cursor: ns-resize;
    height: .25rem;
}

.article-preview {
    text-decoration: none;
    color: #888;
}

.article-preview h2 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

.video-list {
    margin: 0 -.5rem;
}

.video-thumbnail {
    margin: .5rem;
    min-width: 10rem;
    text-decoration: none;
}

.video-thumbnail img {
    width: 100%;
}

.video-thumbnail h5 {
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
}

.mobile-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.startup-content input,
.startup-content .button,
.startup-content select,
.startup-content .btn-secondary {
    width: 100%;
}

.startup-content {
    display: flex;
    flex: 1;
    max-width: 360px;
    margin: auto;
    flex-direction: column;
    align-content: space-between;
}

#theme-wrapper {
    width: 100%;
    height: 100%;
}

.trade-parameters .btn-secondary {
    width: 100%;
}

.trade-parameters .range-selector {
    margin-top: .5rem;
}

#language-picker, #theme-picker {
    width: 100%;
}

#new-trade-btn, #deposit-btn, .language-picker, #clock, #logo, .toggle-buttons {
    margin: .5rem;
}

#logo img {
    height: 2rem;
}

#logo img:nth-child(2) {
    margin-left: .25rem;
    height: 1.75rem;
}

#clock {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.balance {
    font-size: 1.5rem;
    line-height: 2 !important;
}

/* Start of hack, mimic radio group using button */
.radio-button {
    flex: 1;
    color: rgba(64, 68, 72, 1);
    background-color: transparent;
    box-shadow: none;
}

.selected-radio.radio-button {
    background-color: #2a3052;
    border-radius: 2px;
    color: white;
}

.radio-button:hover {
    box-shadow: none!important;
}

.snippet {
    background-color: rgba(42, 48, 82, .05);
    padding: .5rem;
    border-radius: 2px;
}

.collapsible .focusable:focus + .collapsed {
    display: block;
}

.collapsible-title {
    cursor: pointer;
    font-size: 1rem;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
}

.trades-grid, .trades-tabs, .trades-jp, #workarea > div[role=tablist] {
    display: flex;
    flex: 1;
}

.trades-jp {
    flex-direction: column;
}

.trades-tabs {
    flex-direction: column;
}

.trades-tabs div[role=tablist] {
    min-height: 1.6rem;
    width: 100%;
    margin-bottom: .5rem;
}

.trades-tabs .close-btn {
    float: right;
}

.asset-picker-item:hover .asset-picker-trade-btn {
    visibility: visible;
}

.asset-picker-item td {
    text-align: left;
}

.asset-picker-trade-btn {
    padding: .25rem .5rem;
    visibility: hidden;;
}

.trade-panel, .trade-container {
    flex: 1;
}

.trade-container {
    max-width: 20rem;
}

.trade-container + .trade-container {
    margin-left: .5rem;
}

.toggle-buttons .btn-secondary.checked {
    background: rgba(255, 255, 255, .8);
}

.toggle-buttons .btn-secondary {
    width: 3rem;
    background: rgba(255, 255, 255, .4);
    box-shadow: none;
}

div[role=tablist] {
    display: flex;
    background: rgba(42, 48, 82, .75);
    color: white;
}

div[role=tablist].vertical {
    min-width: 3rem;
    flex-direction: column;
    align-content: flex-start;
}

div[role=tab][aria-selected=true] {
    background: #2a3052;
}

.vertical > div[role=tab][aria-selected=true] {
    box-shadow: inset 2px 0 0 0 #e98024;
}

#right-tab-list > div[role=tab][aria-selected=true] {
    box-shadow: inset -2px 0 0 0 #e98024;
}

div[role=tab] {
    flex: 1;
    cursor: pointer;
    line-height: 2;
    display: block;
    text-align: center;
}

div[role=tab] img {
    width: 1.25rem;
    margin: .875rem;
}

 div[role=tablist].vertical div[role=tab] {
    flex: inherit;
}

div[role=tabpanel] {
    background: red;
}

.centerer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: .5rem;
}

#assets-select, #categories-select {
    min-width: 10rem;
    width: 100%;
}

td.left, th.left {
    text-align: left;
}

td.right, th.right {
    text-align: right;
}

td.row-id {
    font-weight: bold;
}
.row-spacer {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*.panel-active {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(42, 48, 82, .25);
}*/

.trade-container:not(.panel-active) {
    opacity: .75;
}

.trade-header {
    display: flex;
    cursor: pointer;
    margin-bottom: .5rem;
}

.trade-header {
    color: #2a3052;
    background: rgba(42, 48, 82, .1);
}

.panel-active .trade-header {
    color: white;
    background: rgba(42, 48, 82, 1);
}

.trade-header > span {
    flex: 1;
    line-height: 2;
    margin-left: .5rem;
}

.close-svg path {
    fill: rgba(42, 48, 82, 1);
}

.panel-active .close-svg path {
    fill: white;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.payout-picker {
    margin-top: 1rem;
    display: flex;
}

.payout-picker button {
    width: 2rem;
    height: 2rem;
}

.payout-full {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, .05);
    margin-top: 1rem;
    padding: .5rem;
}

.open-notice, .closed-notice {
    padding: .2em .4em;
    opacity: .75;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
}

.closed-notice {
    background: red;
}

.open-notice {
    background: green;
}

.asset-details h4 {
    margin-top: 0;
}

#type-picker img {
    height: 1.5rem;
    margin: .5rem;
    background: white;
    box-shadow: 0 0 0 1px white;
}

.trade-chart {
    height: 250px;
    margin-bottom: 1rem;
}
.onoffswitch {
    position: relative;
    width: 10rem;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2rem;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    color: white;
}
.onoffswitch-inner:before {
    content: "Start Later";
    padding-left: 1rem;
    background-color: rgba(42, 48, 82, 1);
    color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Start Now";
    padding-right: 1rem;
    background-color: rgba(42, 48, 82, .25);
    color: rgba(42, 48, 82, 1);
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 2rem;
    margin: 0.5rem;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    border-radius: 2rem;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox.checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox.checked + .onoffswitch-label .onoffswitch-switch {
    right: 0em;
}

#duration-fields input, #duration-fields select, .payout-picker input, .payout-picker fieldset {
    width: 100%;
}

.sell-at-market-btn {
    height: 2.5rem;
    width: 100%;
    margin-top: 1rem;
}

.modal {
    min-width: 320px;
}
.contract-details h6 {
    text-align: center;
}

.label span {
    font-weight: bold;
    margin-right: 0.5rem;
}

#earning-percentage {
    margin-left: 0.5rem;
}

.trades-tabs .trade-panel {
    display: flex;
    flex-direction: row-reverse;
}

.trades-tabs .trade-chart {
    flex: 2;
    margin-left: .5rem;
}

.trades-tabs .full-trade-params {
    flex: 1;
}

#type-category-picker {
    flex-direction: column;
}

.trade-type-picker {
    display: flex;
}

#profit-loss-label {
    font-size: large;
}

#barrier-type-msg {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0px;
}

.highcharts-container,
.highcharts-container svg {
    width: 100% !important;
}
