.article {
  margin: 0 1rem; }

.article-preview {
  text-decoration: none;
  color: #888; }
  .article-preview h2 {
    font-size: 1.4rem;
    margin: 1rem 0; }

.asset-details {
  width: 100%; }
  .asset-details h4 {
    margin-top: .5rem;
    margin-left: .5rem; }
  .asset-details h5 {
    margin-left: .5rem; }

.asset-index-card {
  width: 100%;
  overflow: auto; }

#screen, #root {
  width: 100%;
  height: 100%;
  display: flex; }

.open-notice, .closed-notice {
  padding: .2em .4em;
  opacity: .75;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 2px; }

.vertical .trade-params, .vertical .contract-receipt-container {
  overflow: auto;
  width: 10rem;
  margin-right: .5rem; }

.horizontal .trade-params {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.payout-picker-input .btn-flat:hover, .start-time-selector label:hover {
  background: #2a3052;
  color: white;
  box-shadow: none; }

.asset-picker-filter {
  min-height: 5rem; }

.asset-picker-container {
  display: flex;
  flex-direction: column;
  padding: .5rem;
  width: 16rem;
  min-width: 12rem; }

.asset-list {
  overflow: auto; }
  .asset-list tr {
    cursor: pointer; }
  .asset-list tbody tr.selected {
    background-color: rgba(42, 48, 82, 0.2); }

.asset-search {
  width: 100%; }
  .asset-search > input {
    width: 100%; }

.inverse .asset-list tbody tr.selected {
  background-color: rgba(221, 221, 221, 0.2); }

.asset-picker-item td {
  text-align: left; }

#screen, #root {
  width: 100%;
  height: 100%;
  display: flex; }

.open-notice, .closed-notice {
  padding: .2em .4em;
  opacity: .75;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 2px; }

.vertical .trade-params, .vertical .contract-receipt-container {
  overflow: auto;
  width: 10rem;
  margin-right: .5rem; }

.horizontal .trade-params {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.payout-picker-input .btn-flat:hover, .start-time-selector label:hover {
  background: #2a3052;
  color: white;
  box-shadow: none; }

body {
  height: 100%;
  overflow: hidden; }

#screen {
  font-size: 12px;
  flex-direction: column; }

input::-webkit-calendar-picker-indicator {
  display: none; }

input::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0; }

.disabled {
  opacity: 0.2; }

#panels {
  flex: 1;
  display: flex;
  max-height: calc(100% - 6rem); }

#header {
  display: flex;
  background: #2a3052;
  color: white;
  justify-content: space-between; }
  #header #hamburger-btn {
    padding: 1rem;
    margin-left: 1rem; }
    #header #hamburger-btn > .sidebar {
      top: -300px !important;
      left: inherit;
      right: 0; }
  #header #hamburger-opener:checked + #hamburger-btn > .sidebar {
    top: 3.5rem !important;
    left: inherit; }

.workspace-panel {
  overflow: auto;
  display: flex;
  align-items: flex-start; }

table {
  margin-bottom: 0; }

.wide-form {
  max-width: 420px; }

.logo-text {
  padding: 1rem; }

.close-btn {
  cursor: pointer;
  box-shadow: none !important; }
  .close-btn:hover {
    box-shadow: none !important; }

[role=tablist] {
  margin-bottom: .5rem;
  flex-shrink: 0; }
  [role=tablist].vertical {
    margin-bottom: 0; }

header {
  position: inherit;
  width: 100%;
  color: white;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between; }

.number-positive {
  color: green;
  white-space: nowrap; }

.number-negative {
  color: red;
  white-space: nowrap; }

.full-screen-overlay {
  z-index: 9999; }

.drop-down {
  display: flex;
  max-height: 90vh;
  max-width: 90vw;
  overflow: auto;
  background: white;
  position: absolute;
  z-index: 10000;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  border-radius: 2px; }
  .drop-down + .full-screen-overlay {
    background: rgba(0, 0, 0, 0.1); }

.market-submarket-picker {
  width: 100%; }

.range-selector-items {
  display: flex;
  width: 100%;
  margin: .25rem .25rem 0 .25rem;
  justify-content: space-between; }

[role=tablist] {
  margin-bottom: .5rem;
  flex-shrink: 0; }
  [role=tablist].vertical {
    margin-bottom: 0; }

input[type=range] {
  width: 100%; }

.sidebar-btn {
  padding: 0; }
  .sidebar-btn > img {
    width: 3.5rem;
    padding: 1rem; }

.toolbar-btn {
  line-height: 3.5;
  padding: 0 1rem; }
  .toolbar-btn > img {
    width: 1.5rem;
    height: 100%; }
  .toolbar-btn:hover > .toolbar-hint {
    visibility: visible; }

.buy-btn {
  font-size: 1.25em;
  padding: .5rem; }

.buy-again-btn {
  font-size: 1.25em;
  padding: .5rem; }

.sell-at-market-btn {
  font-size: 1.25em;
  padding: .5rem; }

fieldset {
  margin-bottom: .5rem; }

.back-btn {
  width: 3.5rem;
  padding: .75rem; }

.tick-sparklines {
  margin-bottom: 1rem;
  text-align: center; }

.radio-selector {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5rem;
  border-radius: 2px;
  background-color: rgba(42, 48, 82, 0.1); }

.radio-item {
  flex: 1; }
  .radio-item label {
    cursor: pointer;
    line-height: 2;
    display: block;
    text-align: center; }
  .radio-item img {
    margin-right: .5rem;
    width: 1.5rem;
    background-color: white;
    box-shadow: 0 0 0 1px white; }
  .radio-item input {
    display: none; }
  .radio-item input[type=radio]:checked + label {
    background: #2a3052;
    border-radius: 2px;
    color: white; }

.web-page {
  width: 100%;
  height: 100%; }

.spacer {
  flex: 1; }

#hamburger-opener {
  display: none; }
  #hamburger-opener:checked + #hamburger-btn > .sidebar {
    left: .5rem;
    transition: .3s; }

#hamburger-btn {
  cursor: pointer; }
  #hamburger-btn > .sidebar {
    position: absolute;
    left: -300px;
    z-index: 995; }

#hamburger-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: .3s;
  z-index: 985; }

#hamburger-closer {
  display: none; }
  #hamburger-closer:checked + #hamburger-overlay {
    visibility: hidden;
    opacity: 0;
    transition: .3s; }

.toolbar-hint {
  position: absolute;
  padding: .75rem;
  margin-top: -.75rem;
  margin-left: 1rem;
  width: 10rem;
  border-radius: 2px;
  background: #2a3052;
  visibility: hidden; }

.button-list {
  display: inline; }

.name-val-pairs {
  display: flex;
  flex-direction: column; }

.name-val-pair {
  display: flex; }
  .name-val-pair * {
    flex: 0 1 180px; }
  .name-val-pair > .name {
    font-weight: 700; }

select {
  background-color: white; }

.resizer-vertical {
  background: #2a3052;
  cursor: ew-resize;
  width: 6px;
  display: flex;
  align-items: center; }
  .resizer-vertical .resizer-handle {
    width: 4px;
    margin: 3px 0;
    height: 2rem;
    border-left: 1px dotted rgba(255, 255, 255, 0.5);
    border-right: 1px dotted rgba(255, 255, 255, 0.5); }

.resizer-horizontal {
  background: #2a3052;
  cursor: ns-resize;
  height: .25rem; }

.startup-content {
  display: flex;
  flex: 1;
  max-width: 360px;
  margin: auto;
  flex-direction: column;
  align-content: space-between; }
  .startup-content input {
    width: 100%; }
  .startup-content .button {
    width: 100%; }
  .startup-content select {
    width: 100%; }
  .startup-content .btn-secondary {
    width: 100%; }

#theme-wrapper {
  width: 100%;
  height: 100%; }

.language-picker {
  width: 100%;
  margin: .5rem; }

.theme-picker {
  width: 100%; }

#new-trade-btn {
  margin: .5rem; }

#deposit-btn {
  margin: .5rem; }

#clock {
  margin: .5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

#logo {
  margin: .5rem; }
  #logo img {
    height: 2rem; }
    #logo img:nth-child(2) {
      margin-left: .25rem;
      height: 1.75rem; }

.toggle-buttons {
  margin: .5rem; }
  .toggle-buttons .btn-secondary {
    width: 3rem;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: none; }
    .toggle-buttons .btn-secondary.checked {
      background: rgba(255, 255, 255, 0.8); }

.balance {
  font-size: 1.5rem;
  line-height: 2 !important; }

.radio-button {
  flex: 1;
  color: #404448;
  background-color: transparent;
  box-shadow: none;
  padding: .5em; }
  .radio-button:hover {
    box-shadow: none !important; }

.form-label {
  font-weight: 500;
  margin-bottom: 5px; }

div[role=tabpanel] {
  background: red; }

#footer {
  display: flex;
  height: 3rem; }

.centerer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: .5rem; }

td.left {
  text-align: left; }

td.right {
  text-align: right; }

td.row-id {
  font-weight: bold; }

th.left {
  text-align: left; }

th.right {
  text-align: right; }

.row-spacer {
  margin: .5rem 0; }

input[type=number] {
  -moz-appearance: textfield; }

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.open-notice {
  background: green; }

.closed-notice {
  background: red; }

.modal {
  max-height: 100%;
  min-width: 320px;
  overflow: auto;
  width: 80%; }
  .modal .contract-detail {
    width: 100%;
    padding: .125rem; }
  .modal .contract-details-list {
    max-width: 15rem; }
  .modal h5 {
    margin: -.5rem 0 .5rem 0;
    text-align: center; }
  .modal .contract-details {
    display: flex; }
  .modal .contract-receipt {
    max-width: 25rem; }
  .modal .contract-chart {
    flex: 1;
    min-width: 25rem; }

.profit-loss-label {
  font-size: large; }

.highcharts-container {
  width: 100% !important; }
  .highcharts-container svg {
    width: 100% !important; }

.info-icon {
  background-color: rgba(42, 48, 82, 0.5);
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
  border-radius: 10px; }

.tooltip {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(42, 48, 82, 0.25);
  color: #2a3052;
  font-weight: bold;
  padding: .125rem .25rem;
  border-radius: 2px;
  position: absolute;
  display: none; }

.btn-flat {
  color: #2a3052;
  font-size: 1.5rem;
  padding: 0 .5rem;
  background: rgba(42, 48, 82, 0.1);
  box-shadow: none; }

input[type=date]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

input[type=time]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

input[type=time]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none; }

div[role=tab] .close-btn {
  background: #2a3052;
  fill: white; }

nav.sidebar {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: #2a3052;
  color: white;
  margin: -3.5rem -.5rem -.5rem -.5rem; }

.sidebar span {
  color: white; }

.selected-radio.radio-button {
  background-color: #2a3052;
  border-radius: 2px;
  color: white; }

#right-tab-list > div[role=tab][aria-selected=true] {
  box-shadow: inset -2px 0 0 0 #e98024; }

.close-svg path {
  fill: #2a3052; }

*:hover + .tooltip {
  display: block; }

.account-info {
  background: #e98024;
  padding: .5rem; }

.contract-detail {
  display: flex;
  margin: .125rem;
  border-radius: 2px; }
  .contract-detail > span {
    flex: 1; }
  .contract-detail > *:first-child {
    opacity: .5;
    text-transform: uppercase;
    font-weight: bold; }

.contract-details-list {
  display: flex;
  flex-wrap: wrap; }

.digit-stats-card {
  width: 100%;
  height: 400px; }

.digit-stats-chart {
  display: flex;
  min-height: 100px;
  width: 100%;
  height: 100%;
  flex: 1; }
  .digit-stats-chart.vertical {
    flex-direction: column; }

.digit-stats-col {
  flex: 1;
  display: flex; }

.digit-stats-bar {
  background-color: rgba(42, 48, 82, 0.5);
  margin: 1px;
  border-radius: 2px; }
  .digit-stats-bar.max {
    background-color: green; }
  .digit-stats-bar.min {
    background-color: red; }

.digit-stats-percentage {
  text-align: center; }

.digit-stats-digit {
  text-align: center; }

#screen, #root {
  width: 100%;
  height: 100%;
  display: flex; }

.open-notice, .closed-notice {
  padding: .2em .4em;
  opacity: .75;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 2px; }

.vertical .trade-params, .vertical .contract-receipt-container {
  overflow: auto;
  width: 10rem;
  margin-right: .5rem; }

.horizontal .trade-params {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.payout-picker-input .btn-flat:hover, .start-time-selector label:hover {
  background: #2a3052;
  color: white;
  box-shadow: none; }

.mobile-page {
  height: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column; }

.mobile-content {
  min-width: 320px;
  flex: 1;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  overflow: auto;
  width: 100%; }
  .mobile-content .setting-container > .asset-index-card {
    margin: 0 .25em 0 .25em; }
  .mobile-content > .video-list {
    margin: 0 .25em 0 .25em; }
  .mobile-content > .trading-times-card {
    margin: 0 .25em 0 .25em; }
  .mobile-content .trade-panel {
    flex-direction: column; }
  .mobile-content .modal {
    max-width: 360px; }
  .mobile-content .asset-picker-container {
    width: auto; }
  .mobile-content .trade-type-picker {
    width: auto; }
  .mobile-content .info-icon {
    display: none; }
  .mobile-content .trade-params {
    display: flex;
    margin-top: .5rem;
    flex-direction: column;
    flex-wrap: nowrap; }
    .mobile-content .trade-params > div {
      margin-right: .5rem;
      min-width: 11rem; }
    .mobile-content .trade-params > :not(button) {
      flex: 1; }
  .mobile-content .forward-starting-picker {
    display: flex;
    flex-direction: row; }
    .mobile-content .forward-starting-picker > div {
      display: flex;
      flex-direction: column; }
  .mobile-content .payout-picker {
    display: flex;
    flex-direction: row; }
  .mobile-content .payout-display {
    flex-direction: row; }
  .mobile-content .param-row {
    display: flex;
    flex-direction: row; }
    .mobile-content .param-row > label {
      flex: 1;
      line-height: 2; }
    .mobile-content .param-row > .param-field {
      flex: 2; }
  .mobile-content .contract-receipt {
    margin: 0; }
  .mobile-content tbody tr {
    cursor: pointer; }

.mobile-nav-btn {
  text-align: center;
  flex: 1; }
  .mobile-nav-btn img {
    padding: 1rem .125rem;
    height: 3.5rem; }
  .mobile-nav-btn.active {
    box-shadow: inset 0 -3px 0 0 #e98024; }

.mobile-toolbar {
  color: white;
  background: #2a3052;
  height: 3.5rem;
  display: flex;
  width: 100%; }

.mobile-back-btn {
  text-align: left !important;
  font-weight: normal;
  color: white !important;
  text-decoration: none;
  text-align: center;
  flex: 1; }
  .mobile-back-btn span {
    height: 3.5rem;
    vertical-align: middle; }

.mobile-form {
  display: flex;
  flex-direction: column;
  flex: 1; }

.news-list-card {
  margin: 0 .25em 0 .25em;
  overflow: auto; }

.portfolio-row {
  cursor: pointer; }

.portfolio-panel {
  width: 100%; }

.statement-card {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .statement-card [role=tablist] {
    margin-bottom: 0; }

.statement-list {
  overflow: auto; }

.statement-row {
  cursor: pointer; }

#screen, #root {
  width: 100%;
  height: 100%;
  display: flex; }

.open-notice, .closed-notice {
  padding: .2em .4em;
  opacity: .75;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border-radius: 2px; }

.vertical .trade-params, .vertical .contract-receipt-container {
  overflow: auto;
  width: 10rem;
  margin-right: .5rem; }

.horizontal .trade-params {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.payout-picker-input .btn-flat:hover, .start-time-selector label:hover {
  background: #2a3052;
  color: white;
  box-shadow: none; }

.vertical > [role=tab] {
  padding: .25rem .25rem .25rem .1rem; }
  .vertical > [role=tab] > span {
    margin-top: .5rem; }

.vertical .sell-at-market-btn {
  width: 100%; }
  .vertical .sell-at-market-btn + .buy-again-btn {
    margin-top: .5rem; }

.vertical .buy-btn {
  width: 100%; }

.vertical .buy-again-btn {
  width: 100%; }

.vertical .trade-params {
  flex-direction: row-reverse; }

.vertical .trade-panel {
  flex-direction: row-reverse; }

.vertical .contract-detail {
  width: 100%;
  padding: .125rem; }

.vertical .contract-receipt {
  overflow: auto;
  max-width: 15rem;
  margin-right: .5rem; }

.vertical .digit-stats-col {
  flex-direction: row-reverse; }

.horizontal .errorfield {
  margin-right: .5rem; }

.horizontal .trade-params > * {
  flex: 1; }

.horizontal .trade-params > div {
  margin-right: .5rem;
  min-width: 11rem; }

.horizontal .trade-params .barrier-picker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.horizontal .trade-panel {
  flex-direction: column-reverse; }

.horizontal .contract-detail {
  flex-direction: column;
  width: 8rem;
  background-color: rgba(42, 48, 82, 0.1);
  text-align: center; }

.horizontal .digit-stats-col {
  flex-direction: column; }

.horizontal .sell-at-market-btn + .buy-again-btn {
  margin-left: .5rem; }

.trade-action {
  text-transform: capitalize; }

.payout-picker-input {
  display: flex; }
  .payout-picker-input input {
    width: calc(100% - 4rem); }

.trade-type-picker {
  width: 20rem;
  height: 17rem; }

.type-pairs-list {
  display: flex;
  flex-direction: column; }

.type-pair {
  display: flex;
  cursor: pointer; }
  .type-pair * {
    flex: 1; }
  .type-pair div[role=tab] {
    margin: 0 .5rem; }
  .type-pair div[role=tab][aria-selected=true] {
    color: #e98024;
    box-shadow: inset 0 -3px 0 0 #e98024; }
  .type-pair img {
    height: 1.5rem;
    margin: .5rem;
    background: white;
    box-shadow: 0 0 0 1px white; }

.trade-panel {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 2px;
  padding: .25rem;
  background: white;
  border-radius: 2px; }

.trade-chart-container {
  overflow: hidden;
  flex: 1;
  display: flex;
  align-items: stretch; }

.trade-chart {
  width: 100%; }

.payout-value {
  font-size: 1.2em; }

.duration-input {
  display: flex;
  flex-direction: row; }
  .duration-input input {
    max-width: 50%; }
  .duration-input select {
    max-width: 50%; }
  .duration-input > * {
    flex: 1; }

.forward-starting-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .forward-starting-input > input {
    margin-top: 0.5rem;
    max-width: 50%;
    flex: 1 0 auto; }

.barrier-input {
  display: flex;
  flex-direction: column; }

.param-row {
  margin-bottom: .5rem; }

.start-time-selector {
  display: flex; }
  .start-time-selector > label {
    flex: 1;
    cursor: pointer;
    line-height: 2.5 !important;
    background: rgba(42, 48, 82, 0.1);
    border-radius: 2px; }
    .start-time-selector > label + label {
      margin-left: 3px; }
    .start-time-selector > label > input {
      margin: 3px 3px 3px 6px; }

.duration-text {
  padding: .5rem; }

.picker-label {
  cursor: pointer;
  padding-left: .25rem;
  line-height: 2.5;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: rgba(42, 48, 82, 0.1);
  border-radius: 2px; }
  .picker-label:hover {
    color: white;
    background: #2a3052;
    border: none; }
  .picker-label img {
    height: 2rem;
    padding: .25rem 0; }

.payout-picker button {
  width: 2rem;
  height: 2rem; }

.forward-starting-picker > * {
  flex: 1; }

.trade-params label {
  text-transform: uppercase;
  line-height: 1.5; }

.barrier-picker input {
  width: 100%; }

.trade-header {
  display: flex;
  cursor: pointer;
  margin-bottom: .5rem;
  color: #2a3052;
  background: rgba(42, 48, 82, 0.1); }
  .trade-header > span {
    flex: 1;
    line-height: 2;
    margin-left: .5rem; }

.trading-times-card {
  width: 100%;
  overflow: auto; }

.trading-times-filter {
  display: flex;
  margin-bottom: -.5rem; }

.trading-times-date-picker > input {
  width: 100%; }

.video-list {
  overflow: auto;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start; }

.video-thumbnail {
  flex: 1;
  margin: .5rem;
  min-width: 10rem;
  text-decoration: none; }
  .video-thumbnail img {
    width: 100%; }
  .video-thumbnail h5 {
    text-decoration: none;
    text-align: center;
    margin-top: 1rem; }
