@import "colors";
@import "extends";

.mobile-page {
  height: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.mobile-content {
  min-width: 320px;
  flex: 1;
  display: flex;
  align-content: stretch;
  flex-direction: column;
  overflow: auto;
  width: 100%;

  .setting-container > .asset-index-card {
    margin: 0 .25em 0 .25em;
  }
  .trade-chart-container{
    min-height: 50%;
    max-height: 50%;
  }
  .trade-params{
    font-size: .65em;

    > div {
        input[type="number"],
        input[type="text"],
        input[type="date"],
        input[type="time"],
        img,
        svg,
        select,
        btn-flat {
          height: 3em;
      }



    }

  }

  > {
    .video-list {
      margin: 0 .25em 0 .25em;
    }
    .trading-times-card {
      margin: 0 .25em 0 .25em;
    }
  }
  .trade-panel {
    flex-direction: column;
  }
  .modal {
    max-width: 360px;
  }
  .asset-picker-container {
    width: auto;
  }
  .trade-type-picker {
    width: auto;
  }
  .info-icon {
    display: none;
  }
  .trade-params {
    display: flex;
    margin-top: .5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    > div {
      margin-right: .5rem;
      min-width: 11rem;
    }
    > :not(button) {
      flex: 1;
    }
  }
  .forward-starting-picker {
    display: flex;
    flex-direction: row;
    > div {
      display: flex;
      flex-direction: column;
    }
  }
  .payout-picker {
    display: flex;
    flex-direction: row;
  }
  .payout-display {
    flex-direction: row;
  }
  .param-row {
    display: flex;
    flex-direction: row;
    > label {
      flex: 1;
      line-height: 2;
    }
    > .param-field {
      flex: 2;
    }
  }
  .contract-receipt {
    margin: 0;
  }
  tbody tr {
    cursor: pointer;
  }
}

.mobile-nav-btn {
  text-align: center;
  flex: 1;
  img {
    padding: 1rem .125rem;
    height: 3.5rem;
  }
  &.active {
    //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    box-shadow: inset 0 -3px 0 0 $brand_orange;
  }
}

.mobile-toolbar {
  color: $white;
  background: $brand_dark_blue;
  height: 3.5rem;
  display: flex;
  width: 100%;
}

.mobile-back-btn {
  text-align: left !important;
  font-weight: normal;
  color: $white !important;
  text-decoration: none;
  text-align: center;
  flex: 1;
  span {
    height: 3.5rem;
    vertical-align: middle;
  }
}

.mobile-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
