.layout-btn-container {
    width: 17rem;
    padding: 1rem;
    background: #2a3052;
    color: white;
}

.layout-btn, .trades {
    display: flex;
}

.layout-row-lbl {
    width: 5rem;
    line-height: 2;
}

.layout-btn-row {
    display: flex;
    flex-direction: row;
}

.layout-btn {
    cursor: pointer;
    padding: .25rem;
    width: 2rem;
    height: 2rem;
    opacity: .5;
}

.layout-btn.active, .layout-btn:hover {
    opacity: 1;
}

.trades, .layout-mini, .trade-panel {
    flex: 1;
}

.trade-params {
    background: #f5f5f5;
}

.trades .trade-params {
    max-width: 10rem;
    margin-right: .5rem;
}

.trades {
    overflow: auto;
}

.trades, .layout-btn {
    flex-wrap: wrap;
}

.layout-mini {
    background-color: white;
    border-radius: 1px;
    margin: 1px;
}

.layout-1-1 {

}

.layout-2-1 {
    flex-direction: column;
    flex-wrap: nowrap;
}

.layout-2-2 {
    flex-direction: row;
}

.layout-3-1 {
}

.layout-3-1 div:nth-child(1) {
    flex-basis: 100%;
}

.layout-3-2 div:nth-child(3) {
    flex-basis: 100%;
}

.layout-3-2 div:nth-child(3) {
    flex-basis: 100%;
}

.layout-3-3 {
    flex-direction: column;
}

.layout-3-3 > div {
    width: 50%;
}

.layout-3-3 div:nth-child(3) {
    flex-basis: 100%;
}

.layout-3-4 {
    flex-direction: column;
}

.layout-3-4 > div {
    width: 50%;
}

.layout-3-4 div:nth-child(1) {
    flex-basis: 100%;
}

.layout-3-5 {
    flex-direction: column;
    flex-wrap: nowrap;
}

.layout-4-1 > div {
    flex-basis: 40%;
}

.layout-4-2 > div:nth-child(4) {
    flex-basis: 100%;
}

.layout-4-3 > div:nth-child(1) {
    flex-basis: 100%;
}

.layout-4-4 {
    flex-direction: column;
}

.layout-4-4 > div {
    width: 50%;
}

.layout-4-4 > div:nth-child(1) {
    flex-basis: 100%;
}

.layout-4-5 {
    flex-direction: column;
}

.layout-4-5 > div {
    width: 50%;
}

.layout-4-5 > div:nth-child(4) {
    flex-basis: 100%;
}

.layout-5-1 > div:nth-child(1) {
    flex-basis: 100%;
}

.layout-5-2 {
    flex-direction: column;
}

.layout-5-2 > div {
    width: 50%;
}

.layout-5-2 > div:nth-child(5) {
    flex-basis: 100%;
}

.layout-5-3 {
    flex-direction: column;
}

.layout-5-3 > div {
    width: 50%;
}

.layout-5-3 > div:nth-child(1) {
    flex-basis: 100%;
}

.layout-5-4 > div:nth-child(1),
.layout-5-4 > div:nth-child(2) {
    flex-basis: 40%;
}

.layout-5-5 > div:nth-child(1),
.layout-5-5 > div:nth-child(2),
.layout-5-5 > div:nth-child(3) {
    flex: 1 0 20%;
}

.layout-5-5 > div:nth-child(4),
.layout-5-5 > div:nth-child(5) {
    flex-basis: 40%;
}
