.layoutPicker {
    display: flex;
    margin: 0.25em;
}

.layoutBtnContainer {
    width: 22em;
    padding: 1em;
    background: $COLOR_BRAND_BLUE;
    color: white;
}

.layoutBtnList {
    padding: 0.5em;
    display: flex;
}

.trades {
    background: rgba(42, 48, 82, 1);
}

.layoutBtn,
.trades {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.layoutRowLabel {
    width: 5em;
    line-height: 2.5;
}

.layoutBtnRow {
    display: flex;
    flex-direction: row;
}

.layoutBtn {
    cursor: pointer;
    padding: 0.25em;
    min-width: 2.5em;
    max-width: 2.5em;
    min-height: 2.5em;
    opacity: 0.5;
}

.layoutBtn > div,
.trades > div {
    display: flex;
}

.layoutBtn.active,
.layoutBtn:hover {
    opacity: 1;
}

.trade-panel,
.layoutMini {
    flex: 1;
}

.layoutMini {
    background-color: white;
    border-radius: 1px;
    margin: 1px;
}

/* 1-1 */

/* 2-1 */

.layout-2-1 {
    flex-direction: column;
}

.layout-2-1 > div {
    flex: 1;
    max-height: 50%;
}

/* 2-2 */

.layout-2-2 {
    flex-direction: row;
}

.layout-2-2 > div {
    flex: 1 1 50%;
    /*max-width: 50%;*/
}

/* 3-1 */

.layout-3-1 {
    flex-direction: column;
}

.layout-3-1 > div {
    flex: 1;
    max-height: 50%;
}

.layout-3-1 > div:nth-child(2) {
    display: flex;
}

/* 3-2 */

.layout-3-2 {
    flex-direction: column;
}

.layout-3-2 > div {
    flex: 1;
    max-height: 50%;
}

.layout-3-2 > div:nth-child(1) {
    display: flex;
}

/* 3-3 */

.layout-3-3 {
    flex-direction: row;
}

.layout-3-3 > div {
    flex: 1;
}

.layout-3-3 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.layout-3-3 > div:nth-child(1) > div {
    max-height: 50%;
}

/* 3-4 */

.layout-3-4 {
    flex-direction: row;
}

.layout-3-4 > div {
    flex: 1;
}

.layout-3-4 > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.layout-3-4 > div:nth-child(2) > div {
    max-height: 50%;
}

/* 3-5 */

.layout-3-5 {
    flex-direction: column;
}

.layout-3-5 > div {
    flex: 1;
    max-height: 33.33%;
}

/* 3-6 */

.layout-3-6 {
    flex-direction: row;
}

.layout-3-6 > div {
    flex: 1 1 33.33%;
    /*max-width: 33.33%;*/
}

/* 4-1 */

.layout-4-1 {
    flex-direction: column;
}

.layout-4-1 > div {
    display: flex;
    flex: 1;
    max-height: 50%;
}

.layout-4-1 {
    flex-direction: column;
}

/* 4-2 */

.layout-4-2 {
    flex-direction: column;
}

.layout-4-2 > div {
    flex: 1;
    max-height: 50%;
}

.layout-4-2 > div:nth-child(1) {
    display: flex;
}

.layout-4-2 > div:nth-child(1) > div {
    flex: 1;
}

/* 4-3 */

.layout-4-3 {
    flex-direction: column;
}

.layout-4-3 > div {
    flex: 1;
    max-height: 50%;
}

.layout-4-3 > div:nth-child(2) {
    display: flex;
}

.layout-4-3 > div:nth-child(2) > div {
    flex: 1;
}

/* 4-4 */

.layout-4-4 {
    flex-direction: row;
}

.layout-4-4 > div {
    flex: 1;
}

.layout-4-4 > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.layout-4-4 > div:nth-child(2) > div {
    flex: 1;
    max-height: 33.33%;
}

/* 4-5 */

.layout-4-5 {
    flex-direction: row;
}

.layout-4-5 > div {
    flex: 1;
}

.layout-4-5 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.layout-4-5 > div:nth-child(1) > div {
    flex: 1;
    max-height: 33.33%;
}

/* 4-6 */

.layout-4-6 {
    flex-direction: row;
}

.layout-4-6 > div {
    flex: 1 1 25%;
    /*max-width: 25%;*/
}

/* 5-1 */

.layout-5-1 {
    flex-direction: column;
}

.layout-5-1 > div {
    flex: 1;
    max-height: 50%;
}

.layout-5-1 > div:nth-child(2) {
    display: flex;
}

.layout-5-1 > div:nth-child(2) > div {
    flex: 1;
}

/* 5-2 */

.layout-5-2 {
    flex-direction: row;
}

.layout-5-2 > div {
    flex: 1;
}

.layout-5-2 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.layout-5-2 > div:nth-child(1) > div {
    flex: 1;
    max-height: 25%;
}

/* 5-3 */

.layout-5-3 {
    flex-direction: row;
}

.layout-5-3 > div {
    flex: 1;
}

.layout-5-3 > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.layout-5-3 > div:nth-child(2) > div {
    flex: 1;
    max-height: 25%;
}

/* 5-4 */

.layout-5-4 {
    flex-direction: column;
}

.layout-5-4 > div {
    flex: 1;
    display: flex;
    max-height: 50%;
}

.layout-5-4 > div > div {
    flex: 1;
}

/* 5-5 */

.layout-5-5 {
    flex-direction: column;
}

.layout-5-5 > div {
    flex: 1;
    display: flex;
    max-height: 50%;
}

.layout-5-5 > div > div {
    flex: 1;
}

/* 5-6 */

.layout-5-6 {
    flex-direction: row;
}

.layout-5-6 > div {
    flex: 1 1 25%;
    /*max-width: 25%;*/
}
