.layoutBtnContainer {
    width: 17rem;
    padding: 1rem;
    background: #2a3052;
    color: white;
}

.layoutBtnList {
    padding: .5rem;
    display: flex;
}

.layoutBtn, .trades {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.layoutRowLabel {
    width: 5rem;
    line-height: 2;
}

.layoutBtnRow {
    display: flex;
    flex-direction: row;
}

.layoutBtn {
    cursor: pointer;
    padding: .25rem;
    width: 2rem;
    height: 2rem;
    opacity: .5;
}

.layoutBtn.active, .layoutBtn:hover {
    opacity: 1;
}

.trade-panel, .layoutMini {
    flex: 1;
}

.tradeParams {
    background: #f5f5f5;
    overflow: auto;
}

.trades .tradeParams {
    max-width: 11rem;
    margin-right: .5rem;
}

.layoutMini {
    background-color: white;
    border-radius: 1px;
    margin: 1px;
}

/* 1-1 */

.layout-1-1 {
}

/* 2-1 */

.layout-2-1 {
    flex-direction: column;
}

.layout-2-1 > div {
    flex: 1;
    max-height: 50%;
}

/* 2-2 */

.layout-2-2 {
    flex-direction: row;
}

.layout-2-2 > div {
    flex: 1;
    max-width: 50%;
}

/* 3-1 */

.layout-3-1 {
    flex-direction: column;
}

.layout-3-1 > div {
    flex: 1;
    max-height: 50%;
}

.layout-3-1 > div:nth-child(2) {
    display: flex;
}

/* 3-2 */

.layout-3-2 {
    flex-direction: column;
}

.layout-3-2 > div {
    flex: 1;
    max-height: 50%;
}

.layout-3-2 > div:nth-child(1) {
    display: flex;
}

/* 3-3 */

.layout-3-3 {
    flex-direction: row;
}

.layout-3-3 > div {
    flex: 1;
}

.layout-3-3 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.layout-3-3 > div:nth-child(1) > div {
    max-height: 50%;
}
/* 3-4 */

.layout-3-4 {
    flex-direction: row;
}

.layout-3-4 > div {
    flex: 1;
}

.layout-3-4 > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.layout-3-4 > div:nth-child(2) > div {
    max-height: 50%;
}
/* 3-5 */

.layout-3-5 {
    flex-direction: column;
}

.layout-3-5 > div {
    flex: 1;
    max-height: 33.33%;
}

/* 4-1 */

.layout-4-1 {
    flex-direction: column;
}

.layout-4-1 > div {
    display: flex;
    flex: 1;
    max-height: 50%;
}

.layout-4-1 {
    flex-direction: column;
}

/* 4-2 */

.layout-4-2 {
    flex-direction: column;
}

.layout-4-2 > div {
    flex: 1;
    max-height: 50%;
}

.layout-4-2 > div:nth-child(1) {
    display: flex;
}

.layout-4-2 > div:nth-child(1) > div {
    flex: 1;
}

/* 4-3 */

.layout-4-3 {
    flex-direction: column;
}

.layout-4-3 > div {
    flex: 1;
    max-height: 50%;
}

.layout-4-3 > div:nth-child(2) {
    display: flex;
}

.layout-4-3 > div:nth-child(2) > div {
    flex: 1;
}

/* 4-4 */

.layout-4-4 {
    flex-direction: row;
}

.layout-4-4 > div {
    flex: 1;
}

.layout-4-4 > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.layout-4-4 > div:nth-child(2) > div {
    flex: 1;
    max-height: 33.33%;
}

/* 4-5 */

.layout-4-5 {
    flex-direction: row;
}

.layout-4-5 > div {
    flex: 1;
}

.layout-4-5 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.layout-4-5 > div:nth-child(1) > div {
    flex: 1;
    max-height: 33.33%;
}

/* 5-1 */

.layout-5-1 {
    flex-direction: column;
}

.layout-5-1 > div {
    flex: 1;
    max-height: 50%;
}

.layout-5-1 > div:nth-child(2) {
    display: flex;
}

.layout-5-1 > div:nth-child(2) > div {
    flex: 1;
}

/* 5-2 */

.layout-5-2 {
    flex-direction: row;
}

.layout-5-2 > div {
    flex: 1;
}

.layout-5-2 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
}

.layout-5-2 > div:nth-child(1) > div {
    flex: 1;
    max-height: 25%;
}

/* 5-3 */

.layout-5-3 {
    flex-direction: row;
}

.layout-5-3 > div {
    flex: 1;
}

.layout-5-3 > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.layout-5-3 > div:nth-child(2) > div {
    flex: 1;
    max-height: 25%;
}

/* 5-4 */

.layout-5-4 {
    flex-direction: column;
}

.layout-5-4 > div {
    flex: 1;
    display: flex;
    max-height: 50%;
}

.layout-5-4 > div > div {
    flex: 1;
}

/* 5-5 */

.layout-5-5 {
    flex-direction: column;
}

.layout-5-5 > div {
    flex: 1;
    display: flex;
    max-height: 50%;
}

.layout-5-5 > div > div {
    flex: 1;
}
