.app {
    * {
        -moz-user-drag: none;
        -webkit-user-drag: none;
        -ms-user-drag: none;
        user-drag: none;
    }

    *:not(input) {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: .5em;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: .3em;
        background-color: rgba(0,0,0,.5);
        box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}
