.asset-picker-filter {
    min-height: 6em;
}

.asset-picker-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 20em;
    min-width: 15em;
}

.asset-list {
    tr {
        cursor: pointer;
    }

    tbody tr.selected {
        background-color: rgba($COLOR_BRAND_BLUE, 0.25);
    }
}

.asset-search {
    width: 100%;

    > input {
        width: 100%;
    }
}

.asset-picker-item td {
    text-align: left;
    padding: 0;
}
