.asset-picker-filter {
    min-height: 6em;

    [role=tablist] {
        border-radius: $BORDER_RADIUS;
    }

    [role=tab] {
        padding: 0.5em 0.25em;
    }

    .tooltip {
        margin-top: 1em;
    }

    [role=tab]:nth-child(7) .tooltip {
        margin-left: -3em;
    }

    [role=tab]:nth-child(8) .tooltip {
        margin-left: -5em;
    }
}

.asset-picker-container {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    width: 20em;
    min-width: 15em;
}

.asset-list {
    tr {
        cursor: pointer;
    }

    tbody tr.selected {
        background-color: rgba($COLOR_BRAND_BLUE, 0.25);
    }
}

.asset-picker-filter-icon {
    width: 20px;
    height: 20px;
}

.asset-search {
    width: 100%;

    > input {
        width: 100%;
    }
}

.asset-picker-item {
    &.closed {
      cursor: default;
      color: $COLOR_INVERSE_TEXT;
      td:first-child { cursor: pointer; }
    }
    td {
        text-align: left;
        padding: 0.25em;
    }

    td:first-child {
        width: 2em;
    }

    th {
        text-align: left !important;
        padding-left: 3em !important;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}
