.asset-index-card {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .asset-index-data {
        padding: 0.5em;

        td,
        th {
            white-space: nowrap;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }
}
