body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.screen {
    font-size: $FONT_SIZE_DESKTOP;
    flex-direction: column;
}

.screen,
.root {
    width: 100%;
    height: 100%;
    display: flex;
}

.screen {
    background-color: white;
}

.inverse .screen {
    background-color: $COLOR_INVERSE_BG;
}

.disabled {
    opacity: 0.2;
}

.panels {
    flex: 1;
    display: flex;
    max-height: calc(100% - 6em);
}

.workspace-panel {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: $BORDER_RADIUS;
    margin: 1px;
    box-shadow: 0 0 0 3px $COLOR_BRAND_BLUE;

    > div {
        flex: 1;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
}

table {
    margin-bottom: 0;
}

.logo-text {
    padding: 0.5em;
}

.close-btn {
    cursor: pointer;
    box-shadow: none !important;
    width: 2em;

    &:hover {
        box-shadow: none !important;
    }
}

header {
    position: inherit;
    width: 100%;
    color: white;
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
}

.number-positive {
    color: $COLOR_GREEN;
    white-space: nowrap;
}

.number-negative {
    color: $COLOR_RED;
    white-space: nowrap;
}

.full-screen-overlay {
    z-index: 9999;
}

.market-submarket-picker {
    width: 100%;
}

.range-selector-items {
    display: flex;
    width: 100%;
    margin: 0.25em 0.25em 0;
    justify-content: space-between;
}

input[type=range] {
    width: 100%;
}

fieldset {
    margin-bottom: 0.5em;
}

.back-btn {
    fill: white;
    width: 3em !important;
    height: 3em !important;
    padding: 0.75em;
}

.tick-sparklines {
    margin-bottom: 1em;
    text-align: center;
}

.radio-selector {
    display: flex;
    margin-bottom: 0.5em;
    border-radius: $BORDER_RADIUS;
    background-color: rgba($COLOR_BRAND_BLUE, 0.1);

    .radio-button {
        padding: 0.5em 0;
        flex: 1;
        background-color: rgba($COLOR_BRAND_BLUE, 0.25);

        &:hover {
            background-color: rgba($COLOR_BRAND_BLUE, 0.8);
        }
    }

    .selected-radio {
        background-color: rgba($COLOR_BRAND_BLUE, 0.8);
    }
}

.radio-item {
    flex: 1;

    label {
        cursor: pointer;
        line-height: 2;
        display: block;
        text-align: center;
    }

    img {
        margin-right: 0.5em;
        width: 1.5em;
        background-color: white;
        box-shadow: 0 0 0 1px white;
    }

    input {
        display: none;
    }

    input[type=radio]:checked + label {
        background: $COLOR_BRAND_BLUE;
        border-radius: $BORDER_RADIUS;
        color: white;
    }
}

.web-page {
    width: 100%;
    height: 100%;
}

.spacer {
    flex: 1;
}

.toolbar-hint {
    position: absolute;
    padding: 0.75em;
    margin-top: -0.75em;
    margin-left: 1em;
    width: 10em;
    border-radius: $BORDER_RADIUS;
    background: $COLOR_BRAND_BLUE;
    visibility: hidden;
}

.button-list {
    display: inline;
}

.name-val-pair,
legend {
    line-height: 2;
}

.name-val-pair {
    display: flex;

    * {
        flex: 0 1 180px;
    }

    > .name {
        font-weight: 700;
    }
}

select {
    background-color: white;
}

.resizer-vertical {
    background: $COLOR_BRAND_BLUE;
    cursor: ew-resize;
    width: 6px;
    display: flex;
    align-items: center;

    .resizer-handle {
        width: 4px;
        margin: 3px 0;
        height: 2em;
        border-left: 1px dotted rgba(white, 0.5);
        border-right: 1px dotted rgba(white, 0.5);
    }
}

.resizer-horizontal {
    background: $COLOR_BRAND_BLUE;
    cursor: ns-resize;
    height: 0.25em;
}

#theme-wrapper {
    width: 100%;
    height: 100%;
}

.theme-picker {
    width: 100%;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
}

div[role=tabpanel] {
    background: $COLOR_RED;
}

.centerer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.5em;
}

.open-notice,
.closed-notice {
    padding: 0.2em 0.4em;
    opacity: 0.75;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: $BORDER_RADIUS;
}

.open-notice {
    background: $COLOR_GREEN;
}

.closed-notice {
    background: $COLOR_RED;
}

.modal {
    max-height: 100%;
    min-width: 320px;
    overflow: auto;
    width: 80%;
}

.inverse .modal {
    background: $COLOR_INVERSE_BG;
}

.info-icon {
    background-color: rgba($COLOR_BRAND_BLUE, 0.5);
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    border-radius: 10px;
}

.tooltip {
    color: $COLOR_INVERSE_TEXT;
    background: $COLOR_INVERSE_BG;
    border: 1px solid rgba($COLOR_BRAND_BLUE, 0.25);
    font-weight: bold;
    padding: 0.25em 0.5em;
    border-radius: $BORDER_RADIUS;
    position: absolute;
    display: none;
    z-index: 99;

    .inverse & {
        color: $COLOR_TEXT;
        background: $COLOR_BG;
    }
}

div[role=tab] .close-btn {
    background: $COLOR_BRAND_BLUE;
    fill: $COLOR_TEXT;
}

nav.sidebar {
    display: flex;
    flex-direction: column;
    width: 15em;
    background: $COLOR_BRAND_BLUE;
    color: white;
    margin: -3.5em -0.5em -0.5em;
}

.sidebar span {
    color: white;
}

#right-tab-list {
    overflow: auto;
    font-size: $FONT_SIZE_N;

    > div[role=tab][aria-selected=true] {
        box-shadow: inset -2px 0 0 0 $COLOR_BRAND_ORANGE;
    }
}

*:hover + .tooltip {
    display: block;
}

.account-info {
    background: $COLOR_BRAND_ORANGE;
    padding: 0.5em;
    line-height: 1.5;
    word-wrap: break-word;
    word-break: break-all;
}

.close-btn svg {
    vertical-align: middle;
}

.full-logo {
    text-align: center;
    margin-bottom: 1em;
}

.empty-slate {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    background: rgba($COLOR_BRAND_BLUE, 0.25);

    img {
        width: 3em;
        height: 3em;
        margin-bottom: 0.5em;
    }

    p {
        text-align: center;
    }
}

.about-card {
    max-width: 20em;
    margin: 0 auto;

    .version-info {
        padding: 1em;
    }
}
