body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.screen {
    font-size: 12px;
    flex-direction: column;
}

.screen,
.root {
    width: 100%;
    height: 100%;
    display: flex;
}

.screen {
    background-color: white;
}

.inverse .screen {
    background-color: $COLOR_INVERSE_BG;
}

.disabled {
    opacity: 0.2;
}

.panels {
    flex: 1;
    display: flex;
    max-height: calc(100% - 5rem);
}

.workspace-panel {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 3px;
    margin: 1px;
    box-shadow: 0 0 0 3px $COLOR_BRAND_BLUE;

    > div {
        flex: 1;
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
}

table {
    margin-bottom: 0;
}

.logo-text {
    padding: 0.5rem;
}

.close-btn {
    cursor: pointer;
    box-shadow: none !important;

    &:hover {
        box-shadow: none !important;
    }
}

header {
    position: inherit;
    width: 100%;
    color: white;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}

.number-positive {
    color: $COLOR_GREEN;
    white-space: nowrap;
}

.number-negative {
    color: $COLOR_RED;
    white-space: nowrap;
}

.full-screen-overlay {
    z-index: 9999;
}

.market-submarket-picker {
    width: 100%;
}

.range-selector-items {
    display: flex;
    width: 100%;
    margin: 0.25rem 0.25rem 0;
    justify-content: space-between;
}

[role=tablist] {
    margin-bottom: 0.5rem;
    flex-shrink: 0;

    &.vertical {
        margin-bottom: 0;
    }
}

input[type=range] {
    width: 100%;
}

fieldset {
    margin-bottom: 0.5rem;
}

.back-btn {
    width: 3.5rem;
    padding: 0.75rem;
}

.tick-sparklines {
    margin-bottom: 1rem;
    text-align: center;
}

.radio-selector {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    border-radius: 2px;
    background-color: rgba($COLOR_BRAND_BLUE, 0.1);

    .selected-radio {
        background-color: rgba($COLOR_BRAND_BLUE, 0.8);
    }
}

.radio-item {
    flex: 1;

    label {
        cursor: pointer;
        line-height: 2;
        display: block;
        text-align: center;
    }

    img {
        margin-right: 0.5rem;
        width: 1.5rem;
        background-color: white;
        box-shadow: 0 0 0 1px white;
    }

    input {
        display: none;
    }

    input[type=radio]:checked + label {
        background: $COLOR_BRAND_BLUE;
        border-radius: 2px;
        color: white;
    }
}

.web-page {
    width: 100%;
    height: 100%;
}

.spacer {
    flex: 1;
}

.toolbar-hint {
    position: absolute;
    padding: 0.75rem;
    margin-top: -0.75rem;
    margin-left: 1rem;
    width: 10rem;
    border-radius: 2px;
    background: $COLOR_BRAND_BLUE;
    visibility: hidden;
}

.button-list {
    display: inline;
}

.name-val-pair {
    display: flex;

    * {
        flex: 0 1 180px;
    }

    > .name {
        font-weight: 700;
    }
}

select {
    background-color: white;
}

.resizer-vertical {
    background: $COLOR_BRAND_BLUE;
    cursor: ew-resize;
    width: 6px;
    display: flex;
    align-items: center;

    .resizer-handle {
        width: 4px;
        margin: 3px 0;
        height: 2rem;
        border-left: 1px dotted rgba(white, 0.5);
        border-right: 1px dotted rgba(white, 0.5);
    }
}

.resizer-horizontal {
    background: $COLOR_BRAND_BLUE;
    cursor: ns-resize;
    height: 0.25rem;
}

#theme-wrapper {
    width: 100%;
    height: 100%;
}

.theme-picker {
    width: 100%;
}

.form-label {
    font-weight: 500;
    margin-bottom: 5px;
}

div[role=tabpanel] {
    background: $COLOR_RED;
}

.centerer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.5rem;
}

.open-notice,
.closed-notice {
    padding: 0.2em 0.4em;
    opacity: 0.75;
    font-size: 80%;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border-radius: 2px;
}

.open-notice {
    background: $COLOR_GREEN;
}

.closed-notice {
    background: $COLOR_RED;
}

.modal {
    max-height: 100%;
    min-width: 320px;
    overflow: auto;
    width: 80%;
}

.inverse .modal {
    background: $COLOR_INVERSE_BG;
}

.info-icon {
    background-color: rgba($COLOR_BRAND_BLUE, 0.5);
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    border-radius: 10px;
}

.tooltip {
    background: rgba(white, 0.9);
    border: 1px solid rgba($COLOR_BRAND_BLUE, 0.25);
    color: $COLOR_BRAND_BLUE;
    font-weight: bold;
    padding: 0.125rem 0.25rem;
    border-radius: 2px;
    position: absolute;
    display: none;
}

.btn-flat {
    color: $COLOR_BRAND_BLUE;
    font-size: 2rem;
    line-height: 2rem;
    padding: 0;
    height: 2rem;
    width: 2rem;
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    box-shadow: none;

    &:hover {
        background: rgba($COLOR_BRAND_BLUE, 0.1) !important;
    }
}

div[role=tab] .close-btn {
    background: $COLOR_BRAND_BLUE;
    fill: white;
}

nav.sidebar {
    display: flex;
    flex-direction: column;
    width: 240px;
    background: $COLOR_BRAND_BLUE;
    color: white;
    margin: -3.5rem -0.5rem -0.5rem;
}

.sidebar span {
    color: white;
}

#right-tab-list {
    overflow: auto;

    > div[role=tab][aria-selected=true] {
        box-shadow: inset -2px 0 0 0 $COLOR_BRAND_ORANGE;
    }
}

.close-svg path {
    fill: $COLOR_BRAND_BLUE;
}

*:hover + .tooltip {
    display: block;
}

.account-info {
    background: $COLOR_BRAND_ORANGE;
    padding: 0.5rem;
    line-height: 1.5;
}

.close-btn svg {
    vertical-align: middle;
}

.full-logo {
    text-align: center;
    margin-bottom: 1rem;
}

.empty-slate {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    background: rgba($COLOR_BRAND_BLUE, 0.25);

    img {
        width: 3rem;
        margin-bottom: 0.5rem;
    }

    p {
        text-align: center;
    }
}
