@import 'colors';

.highcharts-container {
    width: 100% !important;

    svg {
        width: 100% !important;
    }
}

.highcharts-tracker {
    stroke-opacity: 0;
}

.inverse .trade-chart {
    color: $COLOR_INVERSE_TEXT;
}

.trade-chart,
.contract-chart {
    color: $COLOR_TEXT;

    button {
        color: $COLOR_TEXT;

        &:hover {
            background: rgba($COLOR_BRAND_BLUE, 0.1) !important;
        }
    }

    .inverse & button {
        color: $COLOR_INVERSE_TEXT;

        &:hover {
            background: rgba($COLOR_INVERSE_TEXT, 0.1) !important;
        }
    }
}

.binary-chart-time-frame-picker {
    height: 24px;
}

.binary-chart-time-frame-picker button {
    background: rgba($COLOR_INVERSE_TEXT, 0.25) !important;
    margin-right: 2px;
    padding: 0;
}

.binary-chart-submenu {
    border-radius: $BORDER_RADIUS;
    background: $COLOR_BG;
    box-shadow: 0 0 1em 0 rgba(black, 0.5);
}

.inverse .binary-chart-submenu {
    background: $COLOR_INVERSE_BG;
}

.binary-chart-submenu button {
    color: $COLOR_TEXT;
    background: transparent;
    border-radius: 0;
}

.binary-chart-picker-item {
    text-align: left;
    padding: 8px;
    display: flex;
    align-items: center;

    svg {
        margin-right: 8px;
    }
}

.pressed {
    background: $COLOR_BRAND_BLUE !important;

    svg {
        fill: $COLOR_INVERSE_TEXT;
    }
}

.binary-chart-zoom-button {
    opacity: 0.75;
    background: rgba($COLOR_BRAND_BLUE, 0.25) !important;

    &:hover {
        opacity: 1;
    }
}

.inverse .binary-chart-zoom-button {
    opacity: 0.75;
    background: rgba($COLOR_INVERSE_TEXT, 0.25) !important;

    &:hover {
        opacity: 1;
    }
}

.binary-chart-toolbar {
    height: 28px;
}

.binary-chart-toolbar > * {
    margin-right: 2px;
}

.binary-chart-button {
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    border-radius: $BORDER_RADIUS;
    min-width: 28px;
}

.binary-chart-button {
    padding: 5px;
}
