.buy-btn,
.btn-flat,
.picker-label,
.close-btn,
select,
[role=tab],
.start-time-selector label {
    &:active {
        color: white !important;
        background-color: rgba($COLOR_BRAND_BLUE, 0.75) !important;
    }
}

.mobile-back-btn,
.mobile-nav-btn,
.sidebar-btn {
    &:active {
        color: $COLOR_BRAND_BLUE !important;
        background-color: rgba(white, 0.75) !important;
    }
}

.inverse {
    .btn-flat,
    .picker-label,
    .close-btn,
    select,
    [role=tab],
    .start-time-selector label {
        &:active {
            color: $COLOR_BRAND_BLUE !important;
            background-color: rgba(white, 0.75) !important;
        }
    }
}
