//colors
$brand_dark_blue: #2a3052;
$white: white;
$green: green;
$red: red;
$brand_orange: #e98024;
// TODO: rename and possibly unify
$black_10: rgba(0, 0, 0, .1);
$color_cloud_burst_10_approx: rgba(42, 48, 82, .1);
$black_50: rgba(0, 0, 0, .5);
$color_cloud_burst_20_approx: rgba(42, 48, 82, 0.2);
$color_alto_20_approx: rgba(221, 221, 221, 0.2);
$color_suva_gray_approx: #888;
$color_cape_cod_approx: rgba(64, 68, 72, 1);
$white_80: rgba(255, 255, 255, .8);
$white_40: rgba(255, 255, 255, .4);
$white_50: rgba(255, 255, 255, 0.5);
$color_cloud_burst_50_approx: rgba(42, 48, 82, .5);
$white_90: rgba(255, 255, 255, .9);
$color_cloud_burst_25_approx: rgba(42, 48, 82, .25);
