// Brand colors and derivatives

$COLOR_BRAND_BLUE: #2a3052;
$COLOR_BRAND_ORANGE: #e98024;

$COLOR_TEXT: desaturate($COLOR_BRAND_BLUE, 50%);
$COLOR_BG: white;

$COLOR_CONTROL_BORDER: #dadada;
$COLOR_ACTIVE: #ff992a;

$COLOR_INVERSE_TEXT: desaturate(lighten($COLOR_BRAND_BLUE, 50%), 50%);
$COLOR_INVERSE_BG: #161a24;

$COLOR_NAV_ACTIVE: #3c4872;
$COLOR_NAV_BORDER: #2a3052;

// Colors used for secondary purposes. To be used sparingly

$COLOR_RED: #c03;
$COLOR_YELLOW: rgba(255, 236, 179, 0.75);
$COLOR_LIGHT_GRAY : #f2f2f2;
$COLOR_GRAY: #ddd;
$COLOR_DARK_GRAY: #757575;
$COLOR_GREEN: #2e8836;

.brand-blue {
    color: $COLOR_BRAND_BLUE;
}

.brand-blue-bg {
    background-color: $COLOR_BRAND_BLUE;
}

.brand-orange {
    color: $COLOR_BRAND_ORANGE;
}

.brand-orange-bg {
    background-color: $COLOR_BRAND_ORANGE;
}

.disabled-color {
    color: $COLOR_DARK_GRAY;
}
