$COLOR_BRAND_BLUE: rgb(42, 48, 82);
$COLOR_BRAND_ORANGE: rgb(233, 128, 36);

$COLOR_TEXT: rgb(64, 68, 72);

$COLOR_INVERSE_BG: rgb(29, 29, 36);
$COLOR_INVERSE_TEXT: rgb(221, 221, 221);

$COLOR_GREEN: rgb(46, 136, 54);
$COLOR_RED: rgb(204, 0, 51);
