$CONTENT_WIDTH: 1000px;
$READABLE_CONTENT_WIDTH: 700px;

$BORDER_RADIUS: 2px;
$BORDER_RADIUS_FOR_INSET: 3px;
$PAGE_PADDING: .5em;
$HEADER_HEIGHT: 3rem;
$HEADER_HEIGHT_MOBILE: 5rem;
$BOX_SHADOW: 0 0 50px 0 rgba(0,0,0, .25);

$FONT_BASE: 15px;
$FONT_SCALE: 1.33333;
$LINE_HEIGHT: 1.4;

// Use only these font sizes throughout the site

$FONT_SIZE_XXL: $FONT_BASE * $FONT_SCALE * $FONT_SCALE * $FONT_SCALE * $FONT_SCALE;
$FONT_SIZE_XL: $FONT_BASE * $FONT_SCALE * $FONT_SCALE * $FONT_SCALE;
$FONT_SIZE_L: $FONT_BASE * $FONT_SCALE * $FONT_SCALE;
$FONT_SIZE_M: $FONT_BASE * $FONT_SCALE;
$FONT_SIZE_N: $FONT_BASE;
$FONT_SIZE_S: $FONT_BASE / $FONT_SCALE;
$FONT_SIZE_XS: $FONT_BASE / $FONT_SCALE / $FONT_SCALE
