.drop-down {
    display: flex;
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
    background: white;
    position: absolute;
    z-index: 10000;
    box-shadow: 0 0 1rem 0 rgba(black, 0.5);
    border-radius: 2px;
    + .full-screen-overlay {
        background: transparent;
    }
}
