.drop-down-wrapper {
    position: absolute;
    z-index: 10000;
}

.drop-down {
    display: flex;
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;
    position: absolute;
    z-index: 10001;
    background: $COLOR_BG;
    box-shadow: 0 0 1em 0 rgba(black, 0.5);
    border-radius: $BORDER_RADIUS;

    + .full-screen-overlay {
        background: transparent;
        -webkit-backdrop-filter: none;
    }
}

.inverse .drop-down {
    background-color: $COLOR_INVERSE_BG !important;
}
