.examine-asset-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .examine-asset-picker-container {
        margin-bottom: -0.5em;
    }

    .examine-asset-picker {
        margin: 0.5em;
        line-height: 1.5;

        span,
        h4 {
            margin: 0.25em;
            line-height: 1.5;
        }

        span {
            font-size: 1em;
        }

        h4 {
            font-size: 1.2em;
            flex: 1;
        }
    }

    .daily-prices-card {
        flex: 1;
    }
}

.inverse .examine-asset-picker-container {
    background: $COLOR_BRAND_BLUE;
}
