%vertical_trade_params {
    overflow: auto;
    width: 10rem;
    margin-right: 0.5rem;
}

%horizontal_trade_params {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

%params-hover {
    box-shadow: inset 0 0 0 1px rgba($COLOR_BRAND_BLUE, .5);
}

%horizontal_param_row {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

%vertical_param_row {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}
