#footer {
    display: flex;
    height: 3em;
    background: $COLOR_BRAND_BLUE;

    .btn-secondary,
    .language-picker {
        margin: 0.25em;
    }

    .btn-secondary:hover {
        background-color: inherit;
    }
}

#clock {
    margin: 0.5em;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .tooltip {
        margin-top: -3em;
    }
}
