#footer {
    display: flex;
    height: 2.5rem;
    background: $COLOR_BRAND_BLUE;
    .full-screen-button,
    .language-picker {
        margin: 0.25rem;
    }
}

#clock {
    margin: 0.5rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
