.startup-content {
    display: flex;
    flex: 1;
    max-width: 360px;
    margin: auto;
    flex-direction: column;
    align-content: space-between;
    &,
    form,
    form > *,
    input,
    select {
        width: 100%;
    }
}

.thin-form,
.wide-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.wide-form p,
.thin-form p {
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: center;
}

.wide-form p > *,
.thin-form p > * {
    flex: 1;
}

.wide-form p > * {
    margin: 0 0.5em 0.5em 0;
}

.thin-form p > * {
    margin: 0 0 0.5em;
}

.wide-form p > label {
    margin: 0;
}

.wide-form p > button,
.thin-form p > button {
    margin-top: 1rem;
    margin-bottom: 0;
}

.wide-form h3,
.thin-form h3 {
    margin-bottom: 1em;
}

.wide-form p > :last-child {
    margin-right: 0;
}
