.startup-content {
    display: flex;
    flex: 1;
    max-width: 360px;
    margin: auto;
    flex-direction: column;
    align-content: space-between;
    &,
    form,
    form > *,
    input,
    select {
        width: 100%;
    }
}

.wide-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    max-width: 420px;
    h3 {
        margin-bottom: 1em;
    }
    p {
        display: flex;
        flex-direction: row;
        margin: 0;
        > * {
            flex: 1;
            margin: 0 0.5em 0.5em 0;
        }
        > label {
            margin: 0;
        }
        > button {
            flex: 1;
        }
        > :last-child {
            margin-right: 0;
        }
    }
}
