$VPADDING: 4rem;

.home-content {
    padding: 0 !important;
}
.home-content #content {
    max-width: 100% !important;
}
.home-content .row {
    padding-left: .5rem;
    padding-right: .5rem;
}
.home-content .payment-methods {
    padding: 0 .5rem;
}
.hero {
    background-image: url('https://binary.com/images/pages/home/map.png');
    background-repeat: no-repeat;
    background-size: 75%;
    text-align: left;
    background-position: 50% 20%;
    text-align: left;
}
.hero hgroup {
    flex: 2;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-right: 1rem;
    text-align: left;
}
hgroup {
    margin-bottom: 2rem;
    padding: 0 .5rem;
}
.sitemap h4, .hero h1, .hero h2, .hero h3, .home-container hgroup h1, .trade-desc h4 {
    margin-top: 0;
}
.trade-desc h4 {
    margin-bottom: 0;
}
blockquote {
    text-align: center;
    p {
        quotes: "\201C""\201D""\2018""\2019";
        margin: 0 2rem 1rem 2rem;
        text-indent: 3rem;
        &:before,
        &:after {
            color: $COLOR_BRAND_ORANGE;
            font-size: 5rem;
            line-height: 0;
            position: absolute;
        }
        &:before {
            content: open-quote;
            margin-left: -5rem;
            margin-top: 1.5rem;
        }
        &:after {
            content: close-quote;
            margin-left: -3rem;
            margin-top: 2.2rem;
        }
    }
}
.inlinico {
    width: 1rem;
    margin: 0 .5rem;
}
.homerow {
    margin: 1.5rem 0;
}
.home-container {
    padding: $VPADDING 0;
}
.darkish {
    background: rgba($COLOR_BRAND_BLUE, .05);
}
.home-body {
    margin: 0 auto;
    max-width: $CONTENT_WIDTH;
    text-align: center;
}
.trade-desc {
    text-align: left;
    padding: 0 1rem 0 2rem;
    p {
        margin: 0 0 .5rem 0;
    }
}
