input::-webkit-calendar-picker-indicator {
    display: none;
}

input::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type=time]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type=time]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
