.sidebar-btn {
    padding: 0;
    text-decoration: none;

    > img {
        width: 3rem;
        padding: 0.75rem;
    }
}

.toolbar-btn {
    line-height: 3.5;
    padding: 0 1rem;

    > img {
        width: 1.5rem;
        height: 100%;
    }

    &:hover > .toolbar-hint {
        visibility: visible;
    }
}

.account-items-list {
    display: flex;
    flex-direction: column;
}
