* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobile-page {
    height: 100%;
    font-size: $FONT_SIZE_MOBILE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.mobile-drop-down {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 100;
}

.mobile-content {
    overflow-y: scroll;
    min-width: 320px;
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    width: 100%;

    .asset-picker-filter .tooltip {
        position: relative; 
    }

    .trade-panel {
        margin: 0;
        flex-direction: column;
    }

    .trade-chart-container {
        margin: -0.25em 0;
    }

    .contract-chart {
        flex: 1;
        height: 35em;
    }

    .modal {
        max-width: 360px;
    }

    .contract-detail {
        width: 100%;
    }

    .asset-picker-container {
        width: auto;
    }

    .trade-type-picker {
        width: auto;
    }

    .info-icon {
        display: none;
    }

    .contract-details-card {
        display: flex;
        flex-direction: column;
        margin: 0 0.5em 0.5em;
        flex: 1;

        h5 {
            margin: 0.5em 0;
        }

        *[role=tablist] {
            margin-bottom: 0.5em;
        }
    }

    .contract-details-tabs {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .trade-params {
        display: flex;
        margin-top: 0.5em;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 16em;

        .duration-input {
            .numeric-input {
                .btn-flat {
                    flex: 1 2 10%;
                }

                input {
                    flex: 2 1;
                }
            }
        }
    }

    .sell-at-market-btn,
    .buy-again-btn {
        width: 100%;
        margin-top: 0.5em;
    }

    .forward-starting-picker {
        display: flex;
        flex-direction: row;

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    .payout-picker {
        display: flex;
        flex-direction: row;
    }

    .payout-display {
        flex-direction: row;

        .param-field {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .param-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.25em;

        > label {
            flex: 1;
            line-height: 2;
        }

        > .param-field {
            flex: 2;
        }
    }

    .contract-receipt {
        overflow: auto;
        margin: 0;
    }

    tbody tr {
        cursor: pointer;
    }
}

.inverse .mobile-page {
    background: $COLOR_INVERSE_BG;
}

.mobile-nav-btn {
    text-align: center;
    flex: 1;

    img {
        padding: 1em 0.125em;
        height: 3.5em;
    }

    &.active {
        box-shadow: inset 0 -0.2em 0 0 $COLOR_BRAND_ORANGE;
    }
}

.mobile-toolbar {
    color: white;
    background: $COLOR_BRAND_BLUE;
    height: 3.5em;
    display: flex;
    width: 100%;
}

.mobile-back-btn {
    cursor: pointer;
    text-align: left !important;
    font-weight: normal;
    color: white !important;
    text-decoration: none;
    flex: 1;
    display: flex;
    align-items: center;
}

.mobile-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ios-padder {
    width: 100%;

    a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        border-radius: 10px;
        margin: 5px;

        svg {
            margin: 0 6px 3px 0;
        }
    }

    span {
        color: white;
        font-size: $FONT_SIZE_XL;
        font-weight: normal;
    }
}

@media screen and (min-aspect-ratio: 13/9) { // landscape styles here
    .mobile-content {
        .trade-panel {
            flex-direction: row !important;
        }

        .trade-params {
            margin-left: 0.5em;
        }
    }
}

@media screen and (max-aspect-ratio: 13/9) { // portrait styles here
    @media screen and (min-height: 660px) {
        .mobile-page {
            font-size: $FONT_SIZE_MOBILE + 1;
        }
    }

    @media screen and (max-height: 560px) {
        .mobile-page {
            font-size: $FONT_SIZE_MOBILE - 1;
        }
    }

    @media screen and (max-height: 520px) {
        .mobile-page {
            font-size: $FONT_SIZE_MOBILE - 2;
        }
    }

    @media screen and (max-height: 480px) {
        .mobile-page {
            font-size: $FONT_SIZE_MOBILE - 3;
        }
    }
}
