* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobile-page {
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
}

.mobile-drop-down {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 100;
}

.mobile-content {
    min-width: 320px;
    flex: 1;
    display: flex;
    align-content: stretch;
    flex-direction: column;
    overflow: auto;
    width: 100%;

    .trade-panel {
        flex-direction: column;
    }

    .modal {
        max-width: 360px;
    }

    .contract-detail {
        width: 100%;
    }

    .asset-picker-container {
        width: auto;
    }

    .trade-type-picker {
        width: auto;
    }

    .info-icon {
        display: none;
    }

    .contract-details-card {
        margin: 0.5rem;
    }

    .trade-params {
        display: flex;
        margin-top: 0.5rem;
        flex-direction: column;
        flex-wrap: nowrap;
        min-height: 200px;
    }

    .sell-at-market-btn,
    .buy-again-btn {
        width: 100%;
    }

    .sell-at-market-btn {
        + .buy-again-btn {
            margin-top: 0.5rem;
        }
    }

    .forward-starting-picker {
        display: flex;
        flex-direction: row;

        > div {
            display: flex;
            flex-direction: column;
        }
    }

    .payout-picker {
        display: flex;
        flex-direction: row;
    }

    .payout-display {
        flex-direction: row;
    }

    .param-row {
        display: flex;
        flex-direction: row;

        > label {
            flex: 1;
            line-height: 2;
        }

        > .param-field {
            flex: 2;
        }
    }

    .contract-receipt {
        margin: 0;
    }

    tbody tr {
        cursor: pointer;
    }
}

.inverse .mobile-page {
    background: $COLOR_INVERSE_BG;
}

.mobile-nav-btn {
    text-align: center;
    flex: 1;

    img {
        padding: 1rem 0.125rem;
        height: 3.5rem;
    }

    &.active {
        box-shadow: inset 0 -3px 0 0 $COLOR_BRAND_ORANGE;
    }
}

.mobile-toolbar {
    color: white;
    background: $COLOR_BRAND_BLUE;
    height: 3.5rem;
    display: flex;
    width: 100%;
}

.mobile-back-btn {
    cursor: pointer;
    text-align: left !important;
    font-weight: normal;
    color: white !important;
    text-decoration: none;
    flex: 1;

    span {
        height: 3.5rem;
        vertical-align: middle;
    }
}

.mobile-form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (orientation: landscape) {
    .mobile-content {
        .trade-panel {
            flex-direction: row !important;
        }

        .trade-params {
            margin-left: 0.5rem;
        }
    }
}
