.full-screen-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    -webkit-backdrop-filter: blur(2px);
}

.modal {
    background: white;
    padding: 1em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.modal .close-btn {
    position: relative;
    color: black;
    margin-top: -1em;
    margin-right: -1em;
    float: right;
}
