.article {
    font-size: $FONT_SIZE_L;
}

.news-list-card {
    display: flex;
    flex-direction: column;
}

.article-picker {
    width: 100%;
    min-height: 2.5em;
}

.article {
    padding: 0.5em;
}

.article h1,
.article-preview h2 {
    font-size: $FONT_SIZE_XL;
    margin: 0 0 0.25em;
}

.article-preview {
    display: inline-block;
    text-decoration: none;
    color: $COLOR_TEXT;
    cursor: pointer;
    padding: 0.5em;

    p {
        margin: 0;
        line-height: 1.2;
    }

    &:hover {
        background: rgba($COLOR_BRAND_BLUE, 0.1);
    }
}
