.news-list-card,
.article {
    padding: 0.5em;
    font-size: 1rem;
}

.news-list-card,
.video-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.article h1,
.article-preview h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.article-preview {
    display: inline-block;
    text-decoration: none;
    color: $COLOR_TEXT;
    p {
        margin: 0;
    }
    &:hover {
        box-shadow: 0 0 0 0.25rem rgba($COLOR_BRAND_BLUE, 0.25);
    }
}

.article-preview + .article-preview {
    margin-top: 1rem;
}
