.portfolio-row {
    cursor: pointer;
}

.portfolio-card {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .notice-msg {
        margin: 0.5rem;
    }
}
