.contract-detail {
    display: flex;
    margin: 0.125rem;
    border-radius: 2px;
    > span {
        flex: 1;
    }
    > *:first-child {
        opacity: 0.5;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.contract-details-list {
    display: flex;
    flex-wrap: wrap;
}

.profit-loss-label {
    font-size: large;
    text-align: center;
    margin: 0.5rem 0;
}

.modal {
    .contract-detail {
        width: 100%;
        padding: 0.125rem;
    }
    .contract-details-list {
        max-width: 16rem;
    }
    .contract-details {
        display: flex;
    }
    .contract-receipt {
        max-width: 25rem;
        padding-left: 0.5rem;
    }
    .contract-chart {
        flex: 1;
        min-width: 25rem;
    }
}

.sell-at-market-btn {
    font-size: 1.25em;
    width: 100%;
}
