.contract-receipt {
    h5 {
        margin: 0.5em 0;
    }
}

.contract-detail {
    display: flex;
    margin: 0.125em;
    border-radius: 2px;

    > span {
        flex: 1;
    }

    > *:first-child {
        opacity: 0.5;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.contract-details-list {
    display: flex;
    flex-wrap: wrap;
}

.profit-loss-label {
    font-size: $FONT_SIZE_XL;
    text-align: center;
    margin: 0.5em 0;
}

.modal {
    .contract-detail {
        width: 100%;
        padding: 0.125em;
    }

    .contract-details-list {
        max-width: 16em;
    }

    .contract-details {
        display: flex;
    }

    .contract-receipt {
        max-width: 25em;
        padding-left: 0.5em;
    }

    .contract-chart {
        flex: 1;
        min-width: 25em;
    }
}

.sell-at-market-btn {
    font-size: 1.25em;
    width: 100%;
}
