.set-currency-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 420px;
    overflow: scroll;

    select {
        width: 100%;
        display: block;
    }

    legend {
        margin-top: 0.5rem;
    }

    button,
    input[type=text] {
        width: 100%;
    }

    input[type=radio]:checked + label {
        background: $COLOR_LIGHT_GRAY;
        color: $COLOR_TEXT;
    }

    .radio-selector {
        background: $COLOR_BG;

        .radio-item {
            padding: 10px;

            label {
                text-align: left;

                img {
                    float: right;
                }
            }
        }
    }
}
