.settings-card {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    > div:nth-child(2) {
        flex: 1;
        overflow: auto;
    }

    .notice-msg {
        margin-top: 0.5rem;
    }

    button {
        width: 100%;
    }
}

.settings-ui,
.settings-personal-page,
.settings-change-password,
.settings-cashier-lock,
.settings-self-exclusion,
.settings-limits {
    padding: 0.5em;
}

.settings-address {
    label {
        display: inline-block;
        width: 50%;
    }

    input,
    select {
        width: 50%;
    }
}

.settings-self-exclusion {
    label {
        display: inline-block;
        width: 60%;
    }

    input {
        width: 40%;
    }
}

.settings-change-password,
.settings-cashier-lock {
    input {
        width: 100%;
    }
}

.version-info {
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    text-align: center;
}
