.statement-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    [role=tablist] {
        margin-bottom: 0;
    }
}

.statement-list {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.statement-row {
    cursor: pointer;
}
