.startup-content {
    display: flex;
    flex: 1;
    max-width: 300px;
    margin: auto;
    flex-direction: column;
    align-content: space-between;
    padding: 0.5rem;

    .create-account-button {
        margin: 2rem 0;
    }

    .have-account {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    &,
    form,
    form > *,
    input,
    select {
        width: 100%;
    }
}
