.statement-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex: 1;

    [role=tablist] {
        margin-bottom: 0;
    }

    .statement-list {
        padding: 0.5em;
    }

    .statement-row {
        cursor: pointer;
    }
}
