thead,
tbody {
    border-bottom: 2px solid rgba($COLOR_BRAND_BLUE, 0.2);
}

th {
    color: #2a3052;
    font-weight: bold;
    background: rgba($COLOR_BRAND_BLUE, .1);
}

tr {
    border-bottom: 1px solid rgba($COLOR_BRAND_BLUE, 0.1);
}

tr:focus, tr.selected {
    background-color: rgba($COLOR_BRAND_BLUE, 0.2);
}

tbody > tr:hover {
    background-color: rgba($COLOR_BRAND_BLUE, 0.1);
}
