[role=tablist] {
    display: flex;
    overflow: hidden;
    font-size: $FONT_SIZE_S;
    text-transform: uppercase;
    flex-shrink: 0;

    &.vertical {
        margin-bottom: 0;
        min-width: 3em;
        flex-direction: column;
        align-content: flex-start;

        *[role=tab] {
            display: flex;
            flex-direction: column;
            flex: inherit;

            &[aria-selected=true] {
                box-shadow: inset 0.2em 0 0 0 #e98024;
            }
        }
    }

    [role=tab] {
        text-align: center;
        cursor: pointer;
        padding: 1.5em 0.25em;
        width: 100%;
        white-space: nowrap;

        & {
            box-shadow: inset 0 -0.2em 0 0 rgba($COLOR_BRAND_BLUE, 0.1);
        }

        &[aria-selected=true] {
            color: $COLOR_BRAND_ORANGE;
            box-shadow: inset 0 -0.2em 0 0 $COLOR_BRAND_ORANGE;
        }

        img {
            width: 2em;
            margin: 0.5em auto 0;
        }
    }
}
