.trade-params.greyout {
    opacity: 0.6;
}

.vertical {
    .errorfield {
        margin-bottom: 0.5em;
    }

    > [role=tab] {
        padding: 0.1em;
        margin-bottom: 1em;

        > span {
            line-height: 1;
            margin-top: 0.5em;
        }

        > img {
            margin: 0 auto;
        }
    }

    .sell-at-market-btn,
    .buy-again-btn {
        margin-top: 0.5em;
        width: 100%;
    }

    .trade-params {
        flex-direction: row-reverse;
    }

    .trade-params,
    .contract-receipt-container {
        overflow: auto;
        width: 15.75em;
        margin-right: 0.25em;
        padding-right: 0.25em;
    }

    .trade-panel {
        flex-direction: row-reverse;
        align-items: stretch;
        min-width: 0;
        min-height: 0;
    }

    .contract-detail {
        width: 100%;
        padding: 0.125em 0;
    }

    .contract-receipt {
        overflow: auto;
        max-width: 16em;
        margin-right: 0.25em;
    }

    .digit-stats-col {
        flex-direction: row-reverse;
    }

    .payout-display .param-field {
        display: flex;
        flex-direction: column;
    }
}

.horizontal {
    .trade-panel {
        flex-direction: column;
        min-width: 0;
        min-height: 0;
    }

    .errorfield {
        margin: 0.5em 0;
    }

    .trade-params {
        display: flex;
        flex-direction: column;
        margin-top: 0.5em;

        > * {
            flex: 1;
        }

        .barrier-picker {
            display: flex;
            flex-direction: row;

            .param-row + .param-row {
                margin-left: 0.25em;
            }
        }
    }

    .contract-detail {
        flex-direction: column;
        width: 8em;
        background-color: rgba($COLOR_BRAND_BLUE, 0.1);
        text-align: center;
    }

    .digit-stats-col {
        flex-direction: column;
    }
}

.trade-action {
    text-transform: capitalize;
}

.buy-btn,
.buy-again-btn {
    font-size: 1.25em;
    width: 100%;
}

.numeric-input {
    display: flex;

    .step-down {
        border-radius: 3px 0 0 3px;
    }

    .step-up {
        border-radius: 0 3px 3px 0;
    }

    input {
        border-radius: 0;
        text-align: center;
        width: calc(100% - 5em);
    }
}

.btn-flat:hover,
.start-time-selector label:hover,
.picker-label:hover,
.binary-chart-button:hover,
.duration-input select:hover {
    box-shadow: inset 0 0 0 1px rgba($COLOR_BRAND_BLUE, 0.5);
}

.trade-type-picker {
    width: 22em;
    overflow: hidden;
}

.trade-type-close-btn {
    padding: 0.5em;

    svg {
        fill: $COLOR_BRAND_BLUE;
    }
}

.inverse .trade-type-close-btn {
    svg {
        fill: white;
    }
}

.type-pairs-list {
    display: flex;
    flex-direction: column;
}

.type-pair {
    display: flex;
    cursor: pointer;

    * {
        flex: 1;
    }

    div[role=tab] {
        margin: 0.5em;
    }

    div[role=tab][aria-selected=true] {
        color: $COLOR_BRAND_ORANGE;
        box-shadow: inset 0 -0.2em 0 0 $COLOR_BRAND_ORANGE;
    }

    img {
        height: 1.5em;
        margin: 0.5em;
        background: white;
        box-shadow: 0 0 0 1px white;
    }
}

.trade-panel {
    display: flex;
    flex: 1;
    flex-direction: row;
    background: white;
    box-sizing: border-box;
    border-radius: $BORDER_RADIUS;
    .barspinner {
      position: absolute;
      left: calc(50% - 30px);
    }
}
.trade-params {
  margin: 0.25em;
}

.webtrader-charts-chart-window-contianer {
  .row {
    margin: 0;
  }
  .chartOptions .vertical-bottom.time {
    width: 50px;
  }
  .chartOptions .timePeriodOverlay .row .cell:first-child {
    flex-grow: 0;
  }
  .chartOptions_overlay.drawingToolOverlay > .row > .cell {
    margin: 0;
  }
}

.trade-chart-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: stretch;
}

.payout-value {
    font-weight: bold;
    font-size: 1.6em;
}

.duration-input {
    display: flex;
    flex-direction: row;

    select {
        max-width: 50%;
        background-color: rgba($COLOR_BRAND_BLUE, 0.1);
        margin-left: 0.25em;
        border: none;
    }

    > * {
        flex: 1;
    }
}

.start-time-selector + .forward-starting-input {
    margin-top: 0.25em;
}

.forward-starting-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > input {
        max-width: 50%;
        flex: 1;
    }

    > input + input {
        margin-left: 0.25em;
    }
}

.barrier-input {
    display: flex;
    flex-direction: column;
}

.param-row {
    margin-bottom: 0.5em;
}

.start-time-selector {
    display: flex;

    > label {
        flex: 1;
        cursor: pointer;
        line-height: 2.5;
        background: rgba($COLOR_BRAND_BLUE, 0.1);
        border-radius: $BORDER_RADIUS;
    }

    > label + label {
        margin-left: 0.25em;
    }

    > label > input {
        margin: 0 0.25em;
    }
}

.duration-text {
    line-height: 2;
    margin-left: 0.5em;
}

.picker-label {
    cursor: pointer;
    line-height: 2.5;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: rgba($COLOR_BRAND_BLUE, 0.1);
    border-radius: $BORDER_RADIUS;

    > *:first-child {
        margin-left: 0.5em;
    }

    .picker-value {
        flex: 1;
    }

    img + .picker-value {
        text-align: center;
    }

    img {
        height: 2em;
        padding: 1px 0;
    }

    img,
    svg {
        margin: 0.25em 0;
    }
}

.inverse .picker-label img {
    background: white;
}

.payout-picker button {
    width: 2.5em;
    height: 2.5em;
}

.forward-starting-picker > * {
    flex: 1;
}

.param-row > label {
    text-transform: uppercase;
    line-height: 1.5;
}

.trade-header {
    display: flex;
    cursor: pointer;
    margin-bottom: 0.5em;
    color: $COLOR_BRAND_BLUE;
    background: rgba($COLOR_BRAND_BLUE, 0.1);

    > span {
        flex: 1;
        line-height: 2;
        margin-left: 0.5em;
    }
}
