.trading-times-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.trading-times-filter {
    display: flex;

    > * {
        width: 50%;
    }
}

.trading-times-date-picker > input {
    width: 100%;
}
