@import "extends";

.vertical {
    > [role=tab] {
        padding: 0.5rem 0.25rem 0.5rem 0.1rem;
        > span {
            margin-top: 0.25rem;
        }
        > img {
            margin: 0 auto;
        }
    }
    .sell-at-market-btn {
        width: 100%;
        + .buy-again-btn {
            margin-top: 0.5rem;
        }
    }
    .buy-again-btn {
        width: 100%;
    }
    .trade-params {
        @extend %vertical_trade_params;
        flex-direction: row-reverse;
    }
    .contract-receipt-container {
        @extend %vertical_trade_params;
    }
    .trade-panel {
        flex-direction: row-reverse;
    }
    .contract-detail {
        width: 100%;
        padding: 0.125rem 0;
    }
    .contract-receipt {
        overflow: auto;
        max-width: 15rem;
        margin-right: 0.5rem;
    }
    .digit-stats-col {
        flex-direction: row-reverse;
    }
}

.horizontal {
    .errorfield {
        margin-right: 0.5rem;
    }
    .trade-params {
        @extend %horizontal_trade_params;
        > * {
            flex: 1;
        }
        > div {
            margin-right: 0.5rem;
            min-width: 11rem;
        }
        .barrier-picker {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .trade-panel {
        flex-direction: column-reverse;
    }
    .contract-detail {
        flex-direction: column;
        width: 8rem;
        background-color: rgba($COLOR_BRAND_BLUE, .1);
        text-align: center;
    }
    .digit-stats-col {
        flex-direction: column;
    }
    .sell-at-market-btn + .buy-again-btn {
        margin-left: 0.5rem;
    }
}
.trade-action {
    text-transform: capitalize;
}
.numeric-input {
    display: flex;
    input {
        text-align: center;
        width: calc(100% - 4rem);
    }
}
.btn-flat:hover {
    @extend %params-hover;
}
.trade-type-picker {
    width: 20rem;
    height: 17rem;
}
.type-pairs-list {
    display: flex;
    flex-direction: column;
}
.type-pair {
    display: flex;
    cursor: pointer;
    * {
        flex: 1;
    }
    div[role=tab] {
        margin: 0 0.5rem;
    }
    div[role=tab][aria-selected=true] {
        color: $COLOR_BRAND_ORANGE;
        box-shadow: inset 0 -3px 0 0 $COLOR_BRAND_ORANGE;
    }
    img {
        height: 1.5rem;
        margin: 0.5rem;
        background: white;
        box-shadow: 0 0 0 1px white;
    }
}

.trade-panel {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 2px;
    padding: 0.25rem;
    background: white;
    border-radius: 2px;
}

.trade-chart-container {
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: stretch;
}

.trade-chart {
    width: 100%;
    height: 100%;
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
    svg {
        width: 100% !important;
    }
}

.payout-value {
    font-size: 1.2em;
}
.duration-input {
    display: flex;
    flex-direction: row;
    input {
        max-width: 50%;
    }
    select {
        max-width: 50%;
        background-color: rgba($COLOR_BRAND_BLUE, .1);
        border: none;
    }
    > * {
        flex: 1;
    }
}
.forward-starting-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > input {
        margin-top: 0.5rem;
        max-width: 50%;
        flex: 1 0 auto;
    }
}
.barrier-input {
    display: flex;
    flex-direction: column;
}
.param-row {
    margin-bottom: 0.5rem;
}
.start-time-selector {
    display: flex;
    > label {
        flex: 1;
        cursor: pointer;
        line-height: 2rem !important;
        background: rgba($COLOR_BRAND_BLUE, .1);
        border-radius: 2px;
        + label {
            margin-left: 3px;
        }
        > input {
            margin: 0 .5rem;
        }
    }
    label:hover {
        @extend %params-hover;
    }
}
.duration-text {
    padding: 0.5rem;
}
.picker-label {
    cursor: pointer;
    padding-left: 0.25rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: rgba($COLOR_BRAND_BLUE, .1);
    border-radius: 2px;
    &:hover {
        @extend %params-hover;
    }
    img {
        height: 1.5rem;
        margin: 0.25rem 0;
    }
}
.payout-picker button {
    width: 2rem;
    height: 2rem;
}
.forward-starting-picker > * {
    flex: 1;
}
.trade-params label {
    text-transform: uppercase;
    line-height: 1.5;
}
.trade-header {
    display: flex;
    cursor: pointer;
    margin-bottom: 0.5rem;
    color: $COLOR_BRAND_BLUE;
    background: rgba($COLOR_BRAND_BLUE, .1);
    > span {
        flex: 1;
        line-height: 2;
        margin-left: 0.5rem;
    }
}
