.trading-times-card {
    width: 100%;
    overflow: auto;
}

.trading-times-filter {
    display: flex;
    margin-bottom: -.5rem;
    > * {
        width: 50%;
    }
}

.trading-times-date-picker > input {
    width: 100%;
}
