.trading-times-card {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.trading-times-filter {
    display: flex;

    > * {
        width: 50%;
    }
}

.trading-times-date-picker > input {
    width: 100%;
}
