.user-accounts-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .create-new-account-card {
        padding: 0.5em;
        
        table {
            tr {
                text-align: center;
            }
        }
    }
}
