.video-list {
    margin: 0;
    width: 100%;
    padding: 0.5rem;
}

.video-thumbnail {
    display: block;
    width: 100%;
    text-decoration: none;

    .video-img {
        width: 100%;
        height: 12rem;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    h5 {
        text-decoration: none;
        text-align: center;
        margin-top: 0.5rem;
    }

    &:hover {
        box-shadow: 0 0 0 0.25rem rgba($COLOR_BRAND_BLUE, 0.25);
    }
}

.video-thumbnail + .video-thumbnail {
    margin-top: 1rem;
}
