.video-list {
    overflow: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}

.video-thumbnail {
    flex: 1;
    margin: 0.5rem;
    min-width: 10rem;
    text-decoration: none;
    img {
        width: 100%;
    }
    h5 {
        text-decoration: none;
        text-align: center;
        margin-top: 1rem;
    }
}
