.watchlist-table tr:not(:hover) .close-btn {
    visibility: hidden;
}

.watchlist-remove-cell {
    padding: 0 0.5rem 0 0;
}

.watchlist-card {
    width: 100%;
    flex: 1;
    padding: 0.25rem;
}

.watchlist-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $FONT_SIZE_L;
}

.watchlist-item {
    border-radius: 2px;

    &:hover {
        background: rgba($COLOR_BRAND_BLUE, 0.05);
    }
}

.watchlist-item + .watchlist-item {
    margin-top: 0.5rem;
}
