.asset-info-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .asset-info-picker {
        margin: 0.5rem;
        line-height: 1.5;

        span {
            margin: 0.25rem;
            line-height: 2;
        }

        h4 {
            margin: 0.25rem;
            font-size: $FONT_SIZE_N;
            line-height: 1.5;
            flex: 1;
        }
    }

    .daily-prices-card {
        overflow: auto;
    }
}
